html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #f5f5f5;
	width: 100%;
}

ol,
ul {
	list-style: none;
}

img {
	object-fit: cover;
	display: block;
	border: none;
}

a:link {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}
i,em{
	font-style: normal;
}
.clear {
	clear: both;
}

button {
	outline: none !important;
	border: none;
	cursor: pointer;
}
.hide{
	display: none;
}
.centered {
	width: 1170px;
	margin: 0 auto;
	overflow: hidden
}

.row {
	padding: 0;
	margin: 0;
}

.layui-layer-msg {
	width: 210px;
}

.paging{
	width: 100%;
	text-align:center
}
/*头部*/

header {
	width: 100%;
}

header .htop {
	width: 100%;
	height: 50px;
	background-color: #f9f9f9;
}

header .htop p {
	font-size: 14px;
	line-height: 50px;
	color: #5e5e5e;
	float: left;
}

header .htop .login {
	font-size: 14px;
	line-height: 50px;
	color: #5e5e5e;
	float: left;
	margin-left: 0;
}

header .htop .loginIcon {
	display: block;
	float: left;
	margin: 17px 10px 0 10px;
}

header .htop a {
	color: #1162f6;
	font-size: 14px;
	line-height: 50px;
	margin-left: 10px;
}

header .right {
	float: right;
}

header .htop .left {
	float: left;
}

header .right img {
	margin: 17px 10px 0 10px;
	display: block;
	float: left;
}

header .right p {
	float: left;
	cursor: pointer;
}

header .right span {
	display: block;
	float: left;
	margin: 0 20px;
	line-height: 45px;
}

header .navbar {
	width: 1170px;
	margin: 0 auto;
	padding: 0;
}

header .navbar .nav-link {
	font-size: 18px;
}

header .navbar .nav-item {
	height: 67px;
	line-height: 67px;
	margin-left: 100px;
	text-align: center;
}

header .navbar .nav-item a {
	padding: 0 !important;
}

header .navbar-toggler-icon img {
	display: block;
	width: 40px;
	margin-top: -2px;
}

header .searchBox {
	width: 100%;
	height: 134px;
	background-color: #FFFFFF;
	padding-top: 34px;
}

header .searchBox .logo img {
	display: block;
	float: left;
}

header .rightBox {
	float: right;
	margin-right: 14px;
}

header .rightBox .toptab {
	width: 100%;
	overflow: hidden;
}

header .rightBox .toptab span {
	display: block;
	float: left;
	font-size: 14px;
	color: #195edd;
	width: 100px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s;
}

header .rightBox .toptab .active {
	background-color: #195edd;
	color: #FFFFFF;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

header .rightBox .search {
	width: 410px;
	height: 40px;
	border: 2px solid #195edd;
}

header .rightBox .search input {
	background-color: inherit;
	border: none;
	float: left;
	width: 200px;
}

header .rightBox .search span {
	display: block;
	width: 60px;
	height: 38px;
	background-color: #195edd;
	float: right;
	cursor: pointer;
}

header .rightBox .search span img {
	width: 25px;
	display: block;
	margin: 0 auto;
	margin-top: 6px;
}

header nav {
	width: 100%;
	height: 65px;
	background-color: #313131;
}

header nav ul {
	float: right;
}

header nav ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	margin-top: 12.5px;
	font-size: 16px;
	color: #FFFFFF;
	margin-left: 76px;
	padding: 0 20px;
	cursor: pointer;
	transition: all 0.2s;
}
header nav ul li:first-child {
	margin-left: 0;
}
header nav ul li:hover {
	border-radius: 5px;
	transition: all 0.2s;
	background-color: rgba(25,94,221,.8);
}
header nav ul .active {
	background-color: #195edd;
	border-radius: 5px;
}

.main {
	margin-top: 20px;
}

.title {
	width: 100%;
	font-size: 24px;
	color: #535353;
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 15px;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
}

.title:before {
	content: "";
	width: 110px;
	height: 1px;
	position: absolute;
	bottom: -1px;
	border-bottom: 1px solid #0000FF;
}

.title b {
	color: #1668d8;
}

.title span {
	font-weight: normal;
	display: block;
	float: right;
	background-color: #f4f4f4;
	border: 1px solid #d8d8d8;
	color: #757575;
	font-size: 12px;
	padding: 4px 8px;
	border-radius: 15px;
	margin-top: 5px;
	cursor: pointer;
}


/*首页横幅*/
.main .banner{
	overflow: hidden;
	margin-bottom: 20px;
}
.main .banner .left {
	width: 840px;
	height: 402px;
	float: left;
	position: relative;
}
.main .banner .left:before{
	content: "图片加载中...";
	color: #8D8D8D;
	top: 0;
	text-align: center;
	line-height: 402px;
	width: 840px;
	position: absolute;
	z-index: 9;
	z-index: -1;
}
.main .banner .right {
	width: 315px;
	height: 402px;
	float: left;
	background-color: #FFFFFF;
	margin-left: 15px;
	padding: 22px 26px;
}

.main .banner .right li {
	width: 100%;
	height: 84px;
	margin-bottom: 20px;
	color: #FFFFFF
}

.main .banner .right li:nth-child(1) {
	background: url(../img/ba1.png) no-repeat;
	background-size: 100% 100%;
}

.main .banner .right li:nth-child(2) {
	background: url(../img/ba2.png) no-repeat;
	background-size: 100% 100%;
}

.main .banner .right li:nth-child(3) {
	background: url(../img/ba3.png) no-repeat;
	background-size: 100% 100%;
}

.main .banner .right li h1 {
	font-size: 20px;
	font-weight: bold;
	padding-top: 18px;
	margin-left: 77px;
}

.main .banner .right li p {
	font-size: 12px;
	margin-left: 77px;
	letter-spacing: 2.5px;
	margin-top: 6px;
}


/*采购信息*/
.main .purchase {
	background-color: #ffffff;
	padding: 15px 30px;
	overflow: hidden;
	margin-bottom: 20px;
}
.main .titlebg {
	width: 100%;
	height: 50px;
	font-size: 24px;
	color: #535353;
	background: url(../img/h1title.png) no-repeat;
	background-size:  100%;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	position: relative;
}
.main .titlebg span{
	color: #1668d8;
}
.main .titlebg em{
	position: absolute;
	right: 0;
	top: 13px;
	height: 24px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
    display: block;
    float: right;
    background-color: #f4f4f4;
    border: 1px solid #d8d8d8;
    color: #757575;
    font-size: 12px;
    padding: 0px 8px;
    border-radius: 15px;
    cursor: pointer;
}
.main .purchaseTab{
	width: 100%;
	height: 50px;
	background-color: #f4f4f4;
	margin-bottom: 22px;
}
.main .purchaseTab .layui-tab-title{
	height: 50px;
	line-height: 50px;
}
.main .purchaseTab li{
	font-size: 18px;
	color: #252525;
	height: 50px;
	line-height: 50px;
	margin-left: 35px;
}
.main .purchaseTab .layui-this{
	color: #1668d8;
    font-weight: bold;
}
.main .purchaseTab .layui-this:after{
	left: 16px;
	height: 50px;
	width: 67%;
    border-bottom: 2px solid #1668d8;
}
.main .purchaseTab .layui-tab-title{
	border: none;
}
.main .purchaseBox ul{
	float: left;
	width: 534px;
}
.main .purchaseBox li{
	float: left;
	width: 534px;
	height: 60px;
	position: relative;
	padding: 10px;
	cursor: pointer;
	list-style-type: square;
	list-style-position:inside;
	margin-bottom: 5px;
	border: 1px solid #FFFFFF;
	transition: all 0.2s;
}
.main .purchaseBox h2{
	width: 316px;
	font-size: 14px;
	color: #252525;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: 22px;
	margin-top: -18px;
    margin-left: 12px;
}
.main .purchaseBox li time{
	float: right;
	position: absolute;
	top: 12px;
	right: 10px;
	height: 60px;
}
.main .purchaseBox li time i{
	display: block;
    float: left;
    margin-right: 4px;
}
.main .purchaseBox li time span{
	font-size: 14px;
	color: #8e8e8e;
}
.main .purchaseBox li time a{
	font-size: 14px;
	color: #1668d8;
	float: right;
	margin-top: 3px;
}
.main .purchaseBox ul:nth-child(1){
	margin-right: 42px;
}
.main .purchaseBox li:hover{
	background-color: #f4f4f4;
	border: 1px solid #666;
	transition: all 0.2s;
}
.main .purchaseBox li:hover h2{
	color: #1668d8;
}
.main .purchaseBox .oneopen{
	list-style:none;
	height: 190px;
}
.main .purchaseBox .oneopen h2{
	font-size: 18px;
	color: #252525;
	width: 100%;
	margin: 0;
	margin-bottom: 9px;
}
.main .purchaseBox .oneopen span{
	font-size: 14px;
	color: #8e8e8e;
	display: block;
	float: left;
	margin-right: 45px;
	height: 20px;
	line-height: 20px;
}
.main .purchaseBox .oneopen span img{
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
}
.main .purchaseBox .oneopen p{
	font-size: 14px;
	color: #8e8e8e;
	line-height: 25px;
	margin-top: 10px;
	-webkit-line-clamp: 4;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.main .purchaseBox .oneopen a{
	font-size: 14px;
    color: #1668d8;
    float: right;
    margin-top: -23px;
    float: right;
}
/*广告*/
.main .advertisement {
	width: 100%;
	height: 120px;
	overflow: hidden;
	object-fit: cover;
	position: relative;
	margin-bottom: 20px;
}
.main .advertisement img{
	display: block;
	width: 100%;
}
.main .advertisement span{
	position: absolute;
	width: 46px;
	height: 22px;
	background-color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	font-weight: bold;
	top: 13px;
	right: 18px;
	border-radius: 5px;
	color: #1668d8;
	font-size: 12px;
	cursor: pointer;
}
/*耗材信息、药品信息、设备信息*/
.main .classification{
	overflow: hidden;
	margin-bottom: 20px;
}
.main .classification section{
	padding: 20px 15px;
	background-color: #FFFFFF;
	float: left;
	width: 376px;
	height: 405px;
	margin-left: 20px;
}
.main .classification section:first-child{
	margin-left: 0px;
}
.main .classification .leftimg{
	width: 115px;
	height: 115px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
	background-color: #f1f1f1;
	position: relative;
}
.main .classification .leftimg:before{
	content: "图片加载中...";
	color: #8D8D8D;
	top: 0;
	text-align: center;
	line-height: 115px;
	width: 115px;
	position: absolute;
	z-index: 9;
}
.main .classification .leftimg img{
	display: block;
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 0;
}
.main .classification .rightBox{
	height: 120px;
	float: left;
}
.main .classification h3{
	font-size: 14px;
	color: #1668d8;
	margin-top: 13px;
	margin-bottom: 12px;
	cursor: pointer;
}
.main .classification  p{
	font-size: 12px;
	color: #3f3f3f;
	margin-bottom: 8px;
}
.main .classification .box{
	margin-top: 35px;
	overflow: hidden;
	padding-left: 10px;
}
/*采购活动*/
.main .activity{
	background-color: #ffffff;
	padding: 15px 20px;
	overflow: hidden;
	margin-bottom: 20px;
	padding-bottom: 5px;
}
.main .activity .box{
	margin-top: 25px;
}
.main .activity .left{
	width: 354px;
	height: 430px;
	float: left;
	margin-right: 20px;
	position: relative;
}
.main .activity .left:before{
	content: "图片加载中...";
	color: #8D8D8D;
	top: 0;
	text-align: center;
	line-height: 430px;
	width: 354px;
	position: absolute;
}
.main .activity .left div{
	background-color: #FFFFFF
}
.main .activity .left img{
	width: 354px;
	height: 286px;
	display: block;
	float: left;
	margin-bottom: 14px;
}
.main .activity .left .layui-carousel-ind{
	top: 0;
}
.main .activity .left h4{
	font-size: 18px;
	color: #252525;
	text-align: center;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}
.main .activity .left p{
	font-size: 14px;
	color: #676666;
	text-align: left;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.main .activity .left ul{
	background-color: none
}
.main .activity .left li{
	background-color: #797979
}
.main .activity .left li.layui-this{
	background-color: #0000FF
}
.main .activity .left  .layui-carousel-ind ul{
	background-color: #ffffff;
}
.main .activity .right {
	float: left;
	overflow: hidden;
    width: 756px;
}
.main .activity .right ul li{
	float: left;
	width: 174px;
	height: auto;
	margin-left: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}
.main .activity .right ul li .imgbox{
	width: 174px;
	height: 140px;
	overflow: hidden;
	background-color: #f1f1f1;
	position: relative;
}
.main .activity .right ul li .imgbox:hover img {
	transform: scale(1.1);
	transition: all 0.6s;
}
.main .activity .right ul li .imgbox:before{
	content: "图片加载中...";
	color: #8D8D8D;
	top: 0;
	text-align: center;
	line-height: 140px;
	width: 174px;
	position: absolute;
	z-index: 1;
}
.main .activity .right ul li .imgbox img{
	display: block;
	width: 174px;
	height: 140px;
	position: absolute;
	z-index: 9;
	transition: all 0.6s;
}
.main .activity .right ul li p{
	font-size: 14px;
	color: #585757;
	margin-top: 15px;
	margin-bottom: 10px;
}
.main .activity .right ul li span{
	display: block;
	float: left;
	font-size: 12px;
	color: #585757;
	margin-right: 15px;
}
.main .activity .right ul li span img{
	display: block;
	float: left;
	margin-right: 5px;
}
.main .activity .right ul li span .dz{
	width: 13px;
	margin-top: -1px;
}
.main .activity .right ul li span .ck{
	width: 18px;
	margin-top: 1px;
}
/*政策法规*/
.main .policy{
	background-color: #ffffff;
	padding: 15px 20px;
	overflow: hidden;
	margin-bottom: 20px;
}
.main .policy > div{
	margin-top: 20px;
	overflow: hidden;
}
.main .policy .left{
	width:400px;
	float: left;
}
.main .policy .left h1{
	width:400px;
	height: 100px;
	font-size: 24px;
	color: #FFFFFF;
	background: url(../img/zcfgb.png) no-repeat;
	background-size:  100%;
	text-align: center;
	font-weight: bold;
	line-height: 100px;
	margin-bottom: 17px;
}
.main .policy .left p{
	font-size: 14px;
	color: #252525;
	text-indent: 2em;
	line-height: 25px;
	margin-bottom: 8px;
}
.main .policy .left time{
	font-size: 14px;
	color: #878787;
}
.main .policy .left time a{
	color: #1668d8;
	float: right;
	margin-top: -19px;
}
.main .policy .left time a img{
	display: block;
	float: left;
	margin-right: 5px;
    margin-top: 3px;
}
.main .policy .middle{
	float: left;
	width: 420px;
	height: 235px;
	margin-right: 38px;
	margin-left: 38px;
}
.main .policy .middle ul li{
	width: 100%;
	font-size: 14px;
	color: #252525;
	height: 20px;
	line-height: 20px;
	margin-bottom: 14px;
	cursor: pointer;
	transition: all 0.3s;
}
.main .policy .middle ul li span{
	float: right;
	color: #666363;
	height: 20px;
	line-height: 20px;
}
.main .policy .middle ul li i{
	font-style: normal;
}
.main .policy .middle ul .active{
	font-size: 16px;
	color: #1668d8;
	height: 85px;
	transition: all 0.3s;
}
.main .policy .middle ul .active i{
	display: none;
}
.main .policy .middle ul li p{
	display: none;
}
.main .policy .middle ul .active p{
	display: block;
	font-size: 14px;
	color: #878787;
	line-height: 25px;
	margin-top: 10px;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.main .policy .right{
	width: 234px;
	float: left;
}
.main .policy .right img{
	display: block;
	float: left;
	width: 120px;
	height: 120px;
}
.main .policy .right h5{
	font-size: 14px;
	color: #535353;
	float: left;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 100%;
}
.main .policy .right p{
	font-size: 12px;
	width: 100%;
	color: #535353;
	line-height: 25px;
	float: left;
}

/*底部*/
footer{
	width: 100%;
	background-color: #4c4c4c;
	padding-bottom: 28px;
}
footer .footerTop{
	background-color: #3e3e3e;
	width: 100%;
}
footer ul {
	width: 733px;
	height: 40px;
	color: #FFFFFF;
	margin: 0 auto;
}
footer ul li{
	float: left;
	padding: 0 35px;
	margin-top: 10px;
    line-height: 17px;
	border-right:1px solid #FFFFFF
}
footer ul li:last-child{
	border: none;
}
footer section{
	width: 717px;
	color: #FFFFFF;
	margin: 0 auto;
}
footer section p{
	font-size: 14px;
	width: 595px;
    margin: 26px auto ;
}
footer section p a{
	padding: 0 20px;
	color: #FFFFFF !important;
}
footer section span{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #a2a2a2;
	margin-top: 7px;
}
/* 登录 注册*/
.loginMain{
	height: auto;
	padding-bottom: 90px;
}
.loginMain h1{
	color: #313131;
	font-size: 26px;
	text-align: center;
	margin-bottom: 23px;
	margin-top: 43px;
}
.loginMain p{
	color: #666666;
	font-size: 14px;
	text-align: center;
}
.loginMain p a{
	color: #195edd;
	font-size: 14px;
}
.loginMain form{
	width: 388px;
	margin: 0 auto;
	margin-top: 30px;
}
.loginMain form p{
	text-align: left;
	color: #666666;
	margin-bottom: 12px;
}
.loginMain form p i{
	color: #ff0000;
	font-size: 16px;
	margin-left: 2px;
	position: relative;
	top: 2px;
}
.loginMain form input{
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
.loginMain form label {
	margin-bottom: 15px;
	display: block;
}
.loginMain form .qrcodeBox input{
	width: 250px;
	margin-right: 10px;
	float: left;
}
.loginMain form .qrcodeBox button{
	float: left;
	height: 40px;
	width: 128px;
	background-color: #195edd;
	margin-top: 0;
	letter-spacing: normal;
	font-size: 14px;
}
.loginMain button{
	width: 100%;
	height: 40px;
	margin-top: 30px;
	background-color: #195edd;
	letter-spacing: 3px;
	font-size: 16px;
}
.loginMain form .two{
	width: 186px;
	float: left;
}
.loginMain form .two:first-child{
	margin-right: 16px;
}
.loginMain .inquiry{
	font-size: 14px;
	color: #666666;
}
.loginMain .inquiry a{
	color: #42adff;
	margin-left: -20px;
}
.loginMain .inquiry p{
	float: right;
	font-size: 12px;
}
/*下载中心*/
.download{
	padding:30px  0 ;
}
.download > div{
	float: left;
}
.download .left{
	width: 258px;
	height: auto;
	margin-right: 25px;
}
.download .left > h1{
	background-color: #1668d8;
	width: 100%;
	height: 72px;
	line-height: 72px;
	padding-left: 28px;
	font-size: 24px;
	color: #FFFFFF;
}
.download .left .leftTab{
	padding: 10px;
	background-color: #FFFFFF
}
.download .left .leftTab li{
	width: 100%;
	height: 70px;
	line-height: 70px;
	font-size: 18px;
	color: #535353;
	font-weight: bold;
	border-bottom: 1px solid #efefef;
	cursor: pointer;
} 
.download .left .leftTab li:last-child{
	border-bottom: none;
}
.download .left .leftTab li p{
	padding-left: 25px;
	height: 63px;
	line-height: 63px;
	margin-top: 5px;
	transition: all 0.1s;
}
.download .left .leftTab li span{
	color: #FFFFFF;
	padding-left: 10px;
	font-weight: normal;
	letter-spacing: 3px;
}
.download .left .leftTab .active p{
	background-color: #16cef4;
	width: 100%;	
	color: #FFFFFF;
	transition: all 0.1s;
}
.download .left .advertising{
	width: 100%;
	height: 205px;
	margin: 25px 0;
}
.download .left .advertising img{
	width: 100%;
	height: 100%;
}
.download .left .cgactivity{
	background-color: #FFFFFF;
	padding: 20px;
}
.download .left .cgactivity h1{
	margin-bottom: 15px;
}
.download .left .cgactivity ul li{
	height: 45px;
	width: 100%;
	line-height: 45px;
	border-bottom: 1px solid #e4e4e4;
	cursor: pointer;
}
.download .left .cgactivity ul li:nth-child(1) span{
	background-color: #3f81f6;
	border: 1px solid #3f81f6;
	color: #FFFFFF;
}
.download .left .cgactivity ul li:nth-child(2) span{
	border: 1px solid #3f81f6;
	color: #3f81f6;
}
.download .left .cgactivity ul li:nth-child(3) span{
	border: 1px solid #3f81f6;
	color: #3f81f6;
}
.download .left .cgactivity ul li:last-child{
	border: none;
}
.download .left .cgactivity ul li span{
	display: block;
	float: left;
	width: 23px;
	height: 23px;
	border: 1px solid #a0a0a0;
	text-align: center;
	color: #a0a0a0;
	font-size: 12px;
	line-height: 23px;
	margin-right: 13px;
	margin-top: 11px;
}
.download .left .cgactivity ul li p{
	font-size: 14px;
	color: #666666;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-family: "宋体";
	opacity: .9;
}
.download .left .cgactivity ul li:hover p{
	opacity: 1;
}
.download .right{
	width: 887px;
	height: auto;
	background-color: #FFFFFF;
	padding: 30px 18px;
	padding-bottom: 80px;
}
.download .right h1{
	font-size: 24px;
	color: #252525;
	padding-left: 23px;
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 18px;
}
.download .right h1 p{
	float: right;
	font-size: 12px;
	font-weight: normal;
	margin-top: 10px;
	padding-right: 10px;
}
.download .right .rightList ul{
	margin-bottom: 50px;
}
.download .right .rightList ul li{
	width: 100%;	
	padding:40px 0 22px 20px;
	border-bottom: 1px solid #e4e4e4;
	cursor: pointer;
}
.download .right .rightList ul li h2{
	font-size: 18px;
	color:#252525 ;
}
.download .right .rightList ul li h2 .dlBox{
	display: block;
	float: right;
	background: url(../img/xxm.png) no-repeat;
	padding-right: 12px;
    width: 75px;
    background-position-x: 53px;
    background-position-y: 3px;
    cursor: pointer;
}
.download .right .rightList ul li time{
	color: #8e8e8e;
	font-size: 16px;
	width: 100%;
	display: block;
	margin-top: 15px;
}
.download .right .rightList ul li time a{
	float: right;
}
.download .right .rightList ul li time a img{
	width: 25px;
	display: block;
	float: right;
}
.download .right .rightList ul li:hover h2{
	color: #1668d8;
}
.download .right .rightList ul li:hover h2 .dlBox{
	display: block;
	float: right;
	background: url(../img/xxx.png) no-repeat;
	padding-right: 12px;
    width: 75px;
    background-position-x: 53px;
    background-position-y: 3px;
    cursor: pointer;
}
/*政策法规*/
.policyList ul{
	margin-bottom: 50px;
}
.policyList ul li{
	width: 100%;
	border-bottom: 1px solid #e4e4e4;
	padding: 30px 0;
	overflow: hidden;
	position: relative;
}
.policyList ul li .imgbox{
	width: 204px;
	height: 140px;
	overflow: hidden;
	background-color: #f1f1f1;
	position: relative;
	margin-right: 30px;
	float: left;
}
.policyList ul li .imgbox img{
	position: absolute;
	display: block;
	width: 100%;
	z-index: 8;
}
.policyList ul li:hover img {
	transform: scale(1.1);
	transition: all 0.6s;
}
.policyList ul li .imgbox:before{
	content: "图片加载中...";
	color: #8D8D8D;
	top: 0;
	text-align: center;
	line-height: 140px;
	width: 204px;
	position: absolute;
	z-index: 1;
}
.policyList ul li h3{
	font-size: 18px;
	color: #1668d8;
	line-height: 34px;
	font-weight: 500;
}
.policyList ul li h3 span{
	width: 118px;
	height: 34px;
	border: 1px solid #7f7f7f;
	text-align: center;
	line-height: 34px;
	color: #737383;
	display: block;
	float: right;
	font-size: 14px;
	cursor: pointer;
}
.policyList ul li h3 span:hover{
	color: #000000;
	border: 1px solid #000000;
}
.policyList ul li time{
	color: #8D8D8D;
	font-size: 15px;
	display: block;
	width: 100%;
	margin:0 5px;
}
.policyList ul li p{
	font-size: 14px;
	color: #252525;
	margin-top: 10px;
	line-height: 25px;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.policyList ul li a img{
	display: block;
	float: right;
	width: 25px;
	bottom: 10px;
	right: 0;
	position: absolute;
}
