a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
body {
	background-color:#f5f5f5;
	width:100%
}
ol,ul {
	list-style:none
}
img {
	object-fit:cover;
	display:block;
	border:none
}
a:link {
	color:inherit;
	text-decoration:none
}
a:hover {
	color:inherit;
	text-decoration:none
}
a:visited {
	color:inherit;
	text-decoration:none
}
blockquote,q {
	quotes:none
}
em,i {
	font-style:normal
}
.clear {
	clear:both
}
.clear {
	clear:both
}
button {
	outline:0!important;
	border:none;
	cursor:pointer
}
.hide {
	display:none
}
.centered {
	width:1170px;
	margin:0 auto;
	overflow:hidden;
	min-height:800px
}
.row {
	padding:0;
	margin:0
}
.layui-layer-msg {
	width:210px
}
.paging {
	width:100%;
	text-align:center
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color:#195edd
}
header {
	width:100%
}
header .htop {
	width:100%;
	height:50px;
	background-color:#f9f9f9
}
header .htop p {
	font-size:14px;
	line-height:50px;
	color:#5e5e5e;
	float:left
}
header .htop .login {
	font-size:14px;
	line-height:50px;
	color:#5e5e5e;
	float:left;
	margin-left:0
}
header .htop .loginIcon {
	display:block;
	float:left;
	margin:17px 10px 0 10px
}
header .htop a {
	color:#1162f6;
	font-size:14px;
	line-height:50px;
	margin-left:10px
}
header .userTop {
	color:#4c4c4c!important;
	display:none
}
header .topLoginBox {
	display:none
}
header .right {
	float:right
}
header .htop .left {
	float:left
}
header .right img {
	margin:17px 10px 0 10px;
	display:block;
	float:left
}
header .right p {
	float:left;
	cursor:pointer
}
header .right span {
	display:block;
	float:left;
	margin:0 20px;
	line-height:45px
}
header .navbar {
	width:1170px;
	margin:0 auto;
	padding:0
}
header .navbar .nav-link {
	font-size:18px
}
header .navbar .nav-item {
	height:67px;
	line-height:67px;
	margin-left:100px;
	text-align:center
}
header .navbar .nav-item a {
	padding:0!important
}
header .navbar-toggler-icon img {
	display:block;
	width:40px;
	margin-top:-2px
}
header .searchBox {
	width:100%;
	height:134px;
	background-color:#fff;
	padding-top:34px
}
header .searchBox .logo img {
	display:block;
	float:left
}
header .rightBox {
	float:right;
	margin-right:14px
}
header .rightBox .toptab {
	width:100%;
	overflow:hidden
}
header .rightBox .toptab span {
	display:block;
	float:left;
	font-size:14px;
	color:#195edd;
	width:100px;
	height:32px;
	line-height:32px;
	text-align:center;
	cursor:pointer;
	transition:all .5s
}
header .rightBox .toptab .active {
	background-color:#195edd;
	color:#fff;
	border-top-left-radius:10px;
	border-top-right-radius:10px
}
header .rightBox .search {
	width:410px;
	height:40px;
	border:2px solid #195edd
}
header .rightBox .search input {
	background-color:inherit;
	border:none;
	float:left;
	width:300px;
	height:36px
}
header .rightBox .search span {
	display:block;
	width:60px;
	height:38px;
	background-color:#195edd;
	float:right;
	cursor:pointer
}
header .rightBox .search span img {
	width:25px;
	display:block;
	margin:0 auto;
	margin-top:6px
}
header nav {
	width:100%;
	height:65px;
	background-color:#313131
}
header nav ul {
	float:right
}
header nav ul li {
	float:left;
	height:40px;
	line-height:40px;
	margin-top:12.5px;
	font-size:16px;
	color:#fff;
	margin-left:76px;
	padding:0 19px;
	cursor:pointer;
	margin-left:65px;
	transition:all .2s
}
header nav ul li:first-child {
	margin-left:0
}
header nav ul li:hover {
	border-radius:5px;
	transition:all .2s;
	background-color:rgba(25,94,221,.8)
}
header nav ul .active {
	background-color:#195edd;
	border-radius:5px
}
.main {
	margin-top:20px
}
.title {
	width:100%;
	font-size:24px;
	color:#535353;
	border-bottom:1px solid #e4e4e4;
	padding-bottom:15px;
	font-weight:700;
	margin-bottom:15px;
	position:relative
}
.title:before {
	content:"";
	width:110px;
	height:1px;
	position:absolute;
	bottom:-1px;
	border-bottom:1px solid #00f
}
.title b {
	color:#1668d8
}
.title span {
	font-weight:400;
	display:block;
	float:right;
	background-color:#f4f4f4;
	border:1px solid #d8d8d8;
	color:#757575;
	font-size:12px;
	padding:4px 8px;
	border-radius:15px;
	margin-top:5px;
	cursor:pointer
}
.main .banner {
	overflow:hidden;
	margin-bottom:20px
}
.main .banner .left {
	width:840px;
	height:402px;
	float:left;
	position:relative
}
.main .banner .left:before {
	content:"图片加载中";
	color:#8d8d8d;
	top:0;
	text-align:center;
	line-height:402px;
	width:840px;
	position:absolute;
	z-index:9;
	z-index:-1
}
.main .banner .right {
	width:315px;
	height:402px;
	float:left;
	background-color:#fff;
	margin-left:15px;
	padding:22px 26px
}
.main .banner .right li {
	width:100%;
	height:60px;
	margin-bottom:20px;
	color:#fff
}
.main .banner .right li:nth-child(1) {
	background:url(../img/ba1.png) no-repeat;
	background-size:contain
}
.main .banner .right li:nth-child(2) {
	background:url(../img/ba2.png) no-repeat;
	background-size:contain
}
.main .banner .right li:nth-child(3) {
	background:url(../img/ba3.png) no-repeat;
	background-size:contain
}
.main .banner .right li:nth-child(4) {
	background:url(../img/ba2.png) no-repeat;
	background-size:contain
}
.main .banner .right li h1 {
	font-size:16px;
	margin-left:75px;
	height:60px;
	line-height:60px
}
.main .banner .right li:nth-child(1) h1 {
	background-color:#00a8fd
}
.main .banner .right li:nth-child(2) h1 {
	background-color:#00d6fd
}
.main .banner .right li:nth-child(3) h1 {
	background-color:#2f86e9
}
.main .banner .right li:nth-child(4) h1 {
	background-color:#00d6fd
}
.main .banner .right li p {
	font-size:12px;
	margin-left:77px;
	letter-spacing:2.5px;
	margin-top:6px
}
.main .purchase {
	background-color:#fff;
	padding:15px 30px;
	overflow:hidden;
	margin-bottom:20px
}
.main .titlebg {
	width:100%;
	height:50px;
	font-size:24px;
	color:#535353;
	background:url(../img/h1title.png) no-repeat;
	background-size:100%;
	text-align:center;
	line-height:50px;
	font-weight:700;
	position:relative;
	cursor:pointer
}
.main .titlebg span {
	color:#1668d8
}
.main .titlebg em {
	position:absolute;
	right:0;
	top:13px;
	height:24px;
	line-height:24px;
	font-style:normal;
	font-weight:400;
	display:block;
	float:right;
	background-color:#f4f4f4;
	border:1px solid #d8d8d8;
	color:#757575;
	font-size:12px;
	padding:0 8px;
	border-radius:15px;
	cursor:pointer
}
.main .purchaseTab {
	width:100%;
	height:50px;
	background-color:#f4f4f4;
	margin-bottom:12px
}
.main .purchaseTab .layui-tab-title {
	height:50px;
	line-height:50px
}
.main .purchaseTab li {
	font-size:18px;
	color:#252525;
	height:50px;
	line-height:50px;
	margin-left:35px
}
.main .purchaseTab li:first-child {
	margin-left:15px
}
.main .purchaseTab .layui-this {
	color:#1668d8;
	font-weight:700
}
.main .purchaseTab .layui-this:after {
	left:16px;
	height:50px;
	width:70%;
	border-bottom:2px solid #1668d8
}
.main .purchaseTab .layui-tab-title {
	border:none
}
.main .purchaseBox ul {
	float:left;
	width:100%
}
.main .purchaseBox li {
	float:left;
	width:100%;
	height:40px;
	line-height:40px;
	cursor:pointer;
	border:1px solid #fff;
	transition:all .2s;
	font-size:16px
}
.main .purchaseBox li span {
	display:block;
	float:left;
	margin-right:15px;
	color:#f13333;
	padding-left:22px
}
.main .purchaseBox li:hover {
	background-color:#f4f4f4
}
.main .purchaseBox li p {
	float:left;
	margin-right:15px;
	color:#333;
	-webkit-line-clamp:1;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	overflow:hidden;
	width:450px
}
.main .purchaseBox li time {
	float:right;
	color:#666;
	padding-right:15px
}
.main .purchaseBox li time i {
	margin-left:36px
}
.main .purchaseBox li time i:first-child {
	margin-left:0
}
.main .purchaseBox li time img {
	display:block;
	float:left;
	margin-top:12px;
	margin-right:10px;
	width:15px
}
.topSearchBox {
	width:100%;
	height:70px;
	border-bottom:10px solid #f5f5f5;
	padding:12px 25px
}
.topSearchBox .topBox {
	width:100px;
	float:left;
	margin-right:15px
}
.topSearchBox .topBox input {
	border:none
}
.topSearchBox .topBox .tinput {
	width:191px;
	height:33px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(153,153,153,1);
	border-radius:17px;
	font-size:14px;
	padding-left:20px;
	margin-top:2px
}
.topBoxBut {
	float:right;
	width:73px;
	height:26px;
	line-height:26px;
	background:rgba(41,86,246,1);
	border-radius:2px;
	padding:0;
	margin-top:5px
}
.cgNewBox {
	padding:30px 18px
}
.main .advertisement {
	width:100%;
	height:120px;
	overflow:hidden;
	object-fit:cover;
	position:relative;
	margin-bottom:20px
}
.main .advertisement img {
	display:block;
	width:100%
}
.main .advertisement span {
	position:absolute;
	width:46px;
	height:22px;
	background-color:#fff;
	line-height:22px;
	text-align:center;
	font-weight:700;
	top:13px;
	right:18px;
	border-radius:5px;
	color:#1668d8;
	font-size:12px;
	cursor:pointer
}
.main .classification {
	overflow:hidden;
	margin-bottom:20px
}
.main .classification section {
	padding:20px 15px;
	background-color:#fff;
	float:left;
	width:376px;
	height:405px;
	margin-left:20px
}
.main .classification section:first-child {
	margin-left:0
}
.main .classification .leftimg {
	width:115px;
	height:115px;
	overflow:hidden;
	float:left;
	margin-right:20px;
	background-color:#f1f1f1;
	position:relative
}
.main .classification .leftimg:before {
	content:"图片加载中";
	color:#8d8d8d;
	top:0;
	text-align:center;
	line-height:115px;
	width:115px;
	position:absolute;
	z-index:9
}
.main .classification .leftimg img {
	display:block;
	width:100%;
	height:100%;
	z-index:10;
	position:absolute;
	top:0
}
.main .classification .rightBox {
	height:120px;
	float:left
}
.main .classification h3 {
	font-size:14px;
	color:#1668d8;
	margin-top:13px;
	margin-bottom:12px;
	cursor:pointer
}
.main .classification p {
	font-size:12px;
	color:#3f3f3f;
	margin-bottom:8px
}
.main .classification .box {
	margin-top:35px;
	overflow:hidden;
	padding-left:10px
}
.main .activity {
	background-color:#fff;
	padding:15px 20px;
	overflow:hidden;
	margin-bottom:20px;
	padding-bottom:5px
}
.main .activity .box {
	margin-top:25px
}
.main .activity .left {
	width:354px;
	height:430px;
	float:left;
	margin-right:20px;
	position:relative
}
.main .activity .left:before {
	content:"图片加载中";
	color:#8d8d8d;
	top:0;
	text-align:center;
	line-height:430px;
	width:354px;
	position:absolute
}
.main .activity .left div {
	background-color:#fff
}
.main .activity .left img {
	width:354px;
	height:276px;
	display:block;
	float:left;
	margin-bottom:14px;
	z-index:999999999;
	position:absolute
}
.main .activity .left .layui-carousel-ind {
	top:0
}
.main .activity .left h4 {
	font-size:18px;
	color:#252525;
	text-align:center;
	font-weight:700;
	text-align:center;
	margin-bottom:10px;
	margin-top:286px;
	cursor:pointer
}
.main .activity .left .imgLeftBox:before {
	content:"图片加载中";
	color:#8d8d8d;
	background-color:#f1f1f1;
	top:0;
	text-align:center;
	width:354px;
	height:276px;
	line-height:276px;
	position:absolute;
	z-index:1
}
.main .activity .left p {
	font-size:14px;
	color:#676666;
	text-align:left;
	-webkit-line-clamp:3;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	overflow:hidden
}
.main .activity .left ul {
	background-color:none
}
.main .activity .left li {
	background-color:#797979
}
.main .activity .left li.layui-this {
	background-color:#00f
}
.main .activity .left .layui-carousel-ind ul {
	background-color:#fff
}
.main .activity .right {
	float:left;
	overflow:hidden;
	width:756px
}
.main .activity .right ul li {
	float:left;
	width:174px;
	height:auto;
	margin-left:15px;
	margin-bottom:15px;
	cursor:pointer
}
.main .activity .right ul li .imgbox {
	width:174px;
	height:140px;
	overflow:hidden;
	background-color:#f1f1f1;
	position:relative
}
.main .activity .right ul li .imgbox:hover img {
	transform:scale(1.1);
	transition:all .6s
}
.main .activity .right ul li .imgbox:before {
	content:"图片加载中";
	color:#8d8d8d;
	top:0;
	text-align:center;
	line-height:140px;
	width:174px;
	position:absolute;
	z-index:1
}
.main .activity .right ul li .imgbox img {
	display:block;
	width:174px;
	height:140px;
	position:absolute;
	z-index:9;
	transition:all .6s
}
.main .activity .right ul li p {
	font-size:14px;
	color:#585757;
	margin-top:15px;
	margin-bottom:10px
}
.main .activity .right ul li span {
	display:block;
	float:left;
	font-size:12px;
	color:#585757;
	margin-right:15px
}
.main .activity .right ul li span img {
	display:block;
	float:left;
	margin-right:5px
}
.main .activity .right ul li span .dz {
	width:13px;
	margin-top:-1px
}
.main .activity .right ul li span .ck {
	width:18px;
	margin-top:1px
}
.main .policy {
	background-color:#fff;
	padding:15px 20px;
	overflow:hidden;
	margin-bottom:20px
}
.main .policy>div {
	margin-top:20px;
	overflow:hidden
}
.main .policy .left {
	width:400px;
	float:left
}
.main .policy .left h1 {
	width:400px;
	height:100px;
	font-size:24px;
	color:#fff;
	background:url(../img/zcfgb.png) no-repeat;
	background-size:100%;
	text-align:center;
	font-weight:700;
	line-height:100px;
	margin-bottom:17px
}
.main .policy .left p {
	font-size:14px;
	color:#252525;
	text-indent:2em;
	line-height:25px;
	margin-bottom:8px;
	-webkit-line-clamp:3;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	overflow:hidden
}
.main .policy .left time {
	font-size:14px;
	color:#878787
}
.main .policy .left time a {
	color:#1668d8;
	float:right;
	margin-top:-19px
}
.main .policy .left time a img {
	display:block;
	float:left;
	margin-right:5px;
	margin-top:3px
}
.main .policy .middle {
	float:left;
	width:691px;
	height:235px;
	margin-left:38px
}
.main .policy .middle ul li {
	width:50%;
	font-size:14px;
	color:#252525;
	height:20px;
	line-height:20px;
	margin-bottom:14px;
	cursor:pointer;
	transition:all .3s;
	float:left
}
.main .policy .middle ul li:first-child {
	width:100%
}
.main .policy .middle ul li span {
	float:right;
	color:#666363;
	height:20px;
	line-height:20px
}
.main .policy .middle ul li i {
	font-style:normal
}
.main .policy .middle ul .active {
	font-size:16px;
	color:#1668d8;
	height:85px;
	transition:all .3s
}
.main .policy .middle ul .active i {
	display:none
}
.main .policy .middle ul li p {
	display:none
}
.main .policy .middle ul .active p {
	display:block;
	font-size:14px;
	color:#878787;
	line-height:25px;
	margin-top:10px;
	-webkit-line-clamp:2;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	overflow:hidden
}
.main .policy .right {
	width:234px;
	float:left
}
.main .policy .right img {
	display:block;
	float:left;
	width:120px;
	height:120px
}
.main .policy .right h5 {
	font-size:14px;
	color:#535353;
	float:left;
	font-weight:700;
	margin-bottom:5px;
	margin-top:5px;
	width:100%
}
.main .policy .right p {
	font-size:12px;
	width:100%;
	color:#535353;
	line-height:25px;
	float:left
}
footer {
	width:100%;
	background-color:#4c4c4c;
	padding-bottom:28px
}
footer .footerTop {
	background-color:#3e3e3e;
	width:100%
}
footer ul {
	width:860px;
	height:40px;
	color:#fff;
	margin:0 auto
}
footer ul li {
	float:left;
	padding:0 35px;
	margin-top:10px;
	line-height:17px;
	border-right:1px solid #fff
}
footer ul li:last-child {
	border:none
}
footer section {
	width:717px;
	color:#fff;
	margin:0 auto
}
footer section p {
	font-size:14px;
	width:595px;
	margin:26px auto
}
footer section p a {
	padding:0 20px;
	color:#fff!important
}
footer section span {
	display:block;
	width:100%;
	text-align:center;
	font-size:12px;
	color:#a2a2a2;
	margin-top:7px
}
.loginMain {
	height:auto;
	padding-bottom:90px
}
.loginMain h1 {
	color:#313131;
	font-size:26px;
	text-align:center;
	margin-bottom:23px;
	margin-top:43px
}
.loginMain p {
	color:#666;
	font-size:14px;
	text-align:center
}
.loginMain p a {
	color:#195edd;
	font-size:14px
}
.loginMain form {
	width:388px;
	margin:0 auto;
	margin-top:30px
}
.loginMain form p {
	text-align:left;
	color:#666;
	margin-bottom:12px
}
.loginMain form p i {
	color:red;
	font-size:16px;
	margin-left:2px;
	position:relative;
	top:2px
}
.loginMain form input {
	height:40px;
	line-height:40px;
	padding-left:20px
}
.loginMain form label {
	margin-bottom:15px;
	display:block
}
.loginMain form .qrcodeBox input {
	width:250px;
	margin-right:10px;
	float:left
}
.loginMain form .qrcodeBox button {
	float:left;
	height:40px;
	width:128px;
	background-color:#195edd;
	margin-top:0;
	letter-spacing:normal;
	font-size:14px
}
.loginMain button {
	width:100%;
	height:40px;
	margin-top:30px;
	background-color:#195edd;
	letter-spacing:3px;
	font-size:16px
}
.loginMain form .two {
	width:186px;
	float:left
}
.loginMain form .two:first-child {
	margin-right:16px
}
.loginMain .inquiry {
	font-size:14px;
	color:#666
}
.loginMain .inquiry a {
	color:#42adff;
	margin-left:-20px
}
.loginMain .inquiry p {
	float:right;
	font-size:12px
}
.download {
	padding:30px 0
}
.download>div {
	float:left
}
.download .left {
	width:258px;
	height:auto;
	margin-right:25px;
	position:relative
}
.download .left>h1 {
	background-color:#1668d8;
	width:100%;
	height:72px;
	line-height:72px;
	padding-left:28px;
	font-size:24px;
	color:#fff
}
.download .left .leftTab {
	padding:10px;
	min-height:100px;
	background-color:#fff;
	z-index:999;
	position:relative;
	margin-bottom:25px
}
#viewLeft {
	min-height:100px;
	background-color:#fff
}
#viewLeft::before {
	content:"列表加载中...";
	color:#8d8d8d;
	font-size:14px;
	padding-left:33px;
	line-height:100px;
	width:100%;
	z-index:1;
	position:absolute;
	top:70px
}
.download .left .leftTab li {
	width:100%;
	height:70px;
	line-height:70px;
	font-size:18px;
	color:#535353;
	font-weight:700;
	border-bottom:1px solid #efefef;
	cursor:pointer
}
.download .left .leftTab li:last-child {
	border-bottom:none
}
.download .left .leftTab li p {
	padding-left:25px;
	height:63px;
	line-height:63px;
	margin-top:5px;
	transition:all .1s
}
.download .left .leftTab li span {
	color:#fff;
	padding-left:10px;
	font-weight:400;
	letter-spacing:3px;
	float:right;
	padding-right:25px
}
.download .left .leftTab .active p {
	background-color:#16cef4;
	width:100%;
	color:#fff;
	transition:all .1s
}
.download .left .advertising {
	width:100%;
	max-height:205px
}
.download .left .advertising img {
	width:100%;
	height:100%
}
.download .left .cgactivity {
	background-color:#fff;
	padding:20px;
	margin-top:25px
}
.download .left .cgactivity h1 {
	margin-bottom:15px
}
.download .left .cgactivity ul li {
	height:45px;
	width:100%;
	line-height:45px;
	border-bottom:1px solid #e4e4e4;
	cursor:pointer
}
.download .left .cgactivity ul li:nth-child(1) span {
	background-color:#3f81f6;
	border:1px solid #3f81f6;
	color:#fff
}
.download .left .cgactivity ul li:nth-child(2) span {
	border:1px solid #3f81f6;
	color:#3f81f6
}
.download .left .cgactivity ul li:nth-child(3) span {
	border:1px solid #3f81f6;
	color:#3f81f6
}
.download .left .cgactivity ul li:last-child {
	border:none
}
.download .left .cgactivity ul li span {
	display:block;
	float:left;
	width:23px;
	height:23px;
	border:1px solid #a0a0a0;
	text-align:center;
	color:#a0a0a0;
	font-size:12px;
	line-height:23px;
	margin-right:13px;
	margin-top:11px
}
.download .left .cgactivity ul li p {
	font-size:14px;
	color:#666;
	-webkit-line-clamp:1;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	overflow:hidden;
	font-family:"宋体";
	opacity:.9
}
.download .left .cgactivity ul li:hover p {
	opacity:1
}
.download .right {
	width:887px;
	height:auto;
	min-height:1280px;
	background-color:#fff;
	padding:30px 18px;
	padding-bottom:80px
}
.download .right h1 {
	font-size:24px;
	color:#252525;
	padding-left:23px;
	border-bottom:1px solid #e4e4e4;
	padding-bottom:18px
}
.download .right h1 p {
	float:right;
	font-size:12px;
	font-weight:400;
	margin-top:10px;
	padding-right:10px
}
.download .right .rightList ul {
	margin-bottom:50px
}
.download .right .rightList ul li {
	width:100%;
	padding:40px 0 22px 20px;
	border-bottom:1px solid #e4e4e4;
	cursor:pointer
}
.download .right .rightList ul li h2 {
	font-size:18px;
	color:#252525
}
.download .right .rightList ul li h2 .dlBox {
	display:block;
	float:right;
	background:url(../img/xxm.png) no-repeat;
	padding-right:12px;
	width:75px;
	background-position-x:53px;
	background-position-y:3px;
	cursor:pointer
}
.download .right .rightList ul li time {
	color:#8e8e8e;
	font-size:16px;
	width:100%;
	display:block;
	margin-top:15px;
	position:relative
}
.download .right .rightList ul li time a {
	float:right
}
.download .right .rightList ul li time a img {
	display:block;
	float:right;
	width:20px;
	bottom:8px;
	top:0
}
.download .right .rightList ul li time a img:nth-child(1) {
	right:60px;
	position:absolute
}
.download .right .rightList ul li time a img:nth-child(2) {
	right:30px;
	position:absolute
}
.download .right .rightList ul li time a img:nth-child(3) {
	right:0;
	position:absolute
}
.download .right .rightList ul li:hover h2 {
	color:#1668d8
}
.download .right .rightList ul li:hover h2 .dlBox {
	display:block;
	float:right;
	background:url(../img/xxx.png) no-repeat;
	padding-right:12px;
	width:75px;
	background-position-x:53px;
	background-position-y:3px;
	cursor:pointer
}
.policyList ul {
	margin-bottom:50px
}
.policyList ul li {
	width:100%;
	border-bottom:1px solid #e4e4e4;
	padding:30px 0;
	overflow:hidden;
	position:relative
}
.policyList ul li .imgbox {
	width:204px;
	height:140px;
	overflow:hidden;
	background-color:#f1f1f1;
	position:relative;
	margin-right:30px;
	float:left
}
.policyList ul li .imgbox img {
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	z-index:8
}
.policyList ul li:hover .imgbox img {
	transform:scale(1.1);
	transition:all .6s
}
.policyList ul li .imgbox:before {
	content:"图片加载中";
	color:#8d8d8d;
	top:0;
	text-align:center;
	line-height:140px;
	width:204px;
	position:absolute;
	z-index:1
}
.policyList ul li h3 {
	font-size:18px;
	color:#1668d8;
	line-height:36px;
	font-weight:500;
	cursor:pointer
}
.policyList ul li h3 span {
	width:118px;
	height:36px;
	border:1px solid #7f7f7f;
	text-align:center;
	line-height:36px;
	color:#737383;
	display:block;
	float:right;
	font-size:14px;
	cursor:pointer
}
.policyList ul li h3 span:hover {
	color:#000;
	border:1px solid #000
}
.policyList ul li time {
	color:#8d8d8d;
	font-size:14px;
	display:block;
	width:100%;
	margin:3px 0
}
.policyList ul li p {
	font-size:14px;
	color:#252525;
	margin-top:10px;
	line-height:25px;
	-webkit-line-clamp:2;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	overflow:hidden
}
.policyList ul li a img {
	display:block;
	float:right;
	width:20px;
	bottom:8px
}
.policyList ul li a img:nth-child(1) {
	right:60px;
	position:absolute
}
.policyList ul li a img:nth-child(2) {
	right:30px;
	position:absolute
}
.policyList ul li a img:nth-child(3) {
	right:0;
	position:absolute
}
.policyList ul li i {
	display:block;
	float:right;
	width:25px;
	bottom:10px;
	right:0;
	color:#999;
	position:absolute;
	width:60px;
	font-size:20px
}
.policyList ul li i img {
	display:block;
	float:left;
	margin-right:5px;
	margin-top:1px
}
.policyList ul li i em {
	font-size:16px;
	padding-left:2px;
	display:block;
	float:left
}
.details {
	padding:30px 15px
}
.details h5 {
	font-size:24px;
	color:#3a3839
}
.details h5 .dlBook {
	background-color:#1668d8;
	width:76px;
	height:31px;
	line-height:31px;
	text-align:center;
	float:right;
	color:#fff;
	font-size:12px;
	text-align:center;
	border-radius:2px;
	margin-top: 15px;
}
.details time {
	display:block;
	margin:25px 0;
	width:100%;
	font-size:14px;
	color:#535353
}
.details time span {
	margin-right:40px
}
.details time span:last-child {
	color:#a0a0a0
}
.details .content {
	font-size:14px;
	color:#3a3839;
	line-height:25px
}
.details .content img {
	width:100%;
	display:block;
	float:left;
	margin:15px 0
}
.user {
	padding:30px 0
}
.user>div {
	float:left
}
.user .left {
	width:258px;
	height:auto;
	margin-right:25px
}
.user .right {
	width:887px;
	height:auto;
	background-color:#fff;
	padding:30px 18px;
	padding-bottom:80px
}
.user .left>h1 {
	background:url(../img/userh1.png) no-repeat;
	width:100%;
	height:90px;
	padding-left:28px;
	font-size:24px;
	color:#fff;
	cursor:pointer
}
.user .left>h1 p {
	float:left;
	width:100%;
	margin-top:15px
}
.user .left>h1 span {
	font-size:14px;
	font-weight:400;
	display:block;
	float:left;
	margin-top:5px
}
.user .left .leftTab {
	padding:10px;
	background-color:#fff
}
.user .left .leftTab h2 {
	width:100%;
	height:60px;
	line-height:60px;
	border-bottom:1px solid #e2e2e2;
	font-size:18px;
	color:#252525;
	font-weight:700;
	margin-bottom:10px
}
.user .left .leftTab h2 img {
	display:block;
	float:left;
	margin:20px
}
.user .left .leftTab h2 span {
	display:block;
	float:left
}
.user .left .leftTab li {
	width:100%;
	height:36px;
	font-size:14px;
	color:#252525;
	padding-left:65px;
	line-height:36px;
	cursor:pointer
}
.user .left .leftTab .active {
	background-color:#16cef4;
	color:#fff
}
.user .left .leftTab .quit {
	width:94%;
	margin-left:3%;
	height:45px;
	line-height:45px;
	background-color:#424242;
	margin-top:90px;
	margin-bottom:5px;
	font-weight:700;
	font-size:18px;
	border-radius:inherit
}
.user .right {
	padding:25px
}
.user .right .txImg {
	width:100px;
	height:100px;
	float:left;
	margin-right:18px
}
.user .right .txImg img {
	width:100%;
	height:100%
}
.user .right .tleft {
	width:575px;
	height:105px;
	border-right:1px dashed #eaeaea;
	float:left
}
.user .right .tleft h1 {
	font-size:20px;
	color:#535353;
	font-weight:700;
	font-weight:700
}
.user .right .tleft h3 {
	float:left;
	width:430px;
	margin-top:55px
}
.user .right .tleft p {
	font-size:12px;
	color:#969696;
	float:left;
	line-height:19px;
	height:19px
}
.user .right .tleft p:last-child {
	margin-left:30px
}
.user .right .tleft span {
	display:block;
	float:left;
	font-size:12px;
	color:#fff;
	background-color:#6aa7ff;
	padding:1px 7px;
	margin-right:10px
}
.user .right .tright {
	float:left;
	height:75px;
	margin-top:15px
}
.user .right .tright ul li {
	width:120px;
	float:left;
	font-size:14px;
	color:#535353;
	text-align:center;
	cursor:pointer;
	height:75px
}
.user .right .tright ul li img {
	display:block;
	margin:6px auto 10px auto
}
.user .right .tright ul li .recharge {
	width:68px;
	height:21px;
	text-align:center;
	line-height:21px;
	color:#fff;
	background-color:#16cef4;
	font-size:12px;
	border-radius:3px;
	margin:16px auto
}
.user .right .tright ul li:last-child {
	border-left:1px dashed #eaeaea
}
.user .right .tright ul li:last-child img {
	margin-top:10px
}
.user .right .topBox {
	overflow:hidden;
	border-bottom:1px solid #e4e4e4;
	padding-bottom:22px
}
.user .userbox {
	padding-top:25px
}
.user .userbox h1 {
	font-size:20px;
	width:100%;
	font-weight:700;
	border-bottom:1px solid #e4e4e4;
	padding-bottom:15px
}
.user .userbox h1 b {
	color:#1668d8
}
.user .userbox ul {
	margin:20px 12px;
	overflow:hidden
}
.user .userbox ul li {
	width:100%;
	font-size:14px;
	margin-bottom:15px;
	float:left
}
.user .userbox ul li:last-child {
	margin-bottom:5px
}
.user .userbox ul li p {
	color:#535353;
	font-weight:700;
	float:left;
	width:150px
}
.user .userbox ul li span {
	color:#3a3a3a
}
.user .userbox table tr td {
	width:25%
}
.user .userbox table tr td:first-child {
	text-align:left;
	padding-left:40px
}
.user .userbox table tr {
	height:52px;
	border-bottom:1px solid #e2e2e2;
	line-height:52px;
	text-align:center;
	font-size:16px
}
.user .userbox table tr:nth-child(odd) {
	background-color:#f5f5f5
}
.user .userbox table tr:nth-child(even) {
	background-color:#faf9f9
}
.user .userbox table tr td:nth-child(3) {
	color:#1668d8;
	font-weight:700
}
.user .usertitle {
	width:100%;
	font-size:24px!important;
	color:#252525;
	border-bottom:1px solid #e4e4e4;
	padding-bottom:15px;
	padding-left:25px;
	font-weight:700
}
.user .usertitle p {
	font-size:12px;
	color:#252525;
	float:right;
	font-weight:400;
	line-height:35px
}
.user .usertitle p a {
	padding:0 3px
}
.user .usermy section {
	padding:33px 23px
}
.user .usermy .editImg {
	width:136px;
	height:136px;
	border:1px solid #ddd;
	cursor:pointer
}
.user .usermy .editImg img {
	display:block;
	margin:0 auto;
	margin-top:8px;
	width:120px;
	height:120px
}
.user .usermy .editphone {
	background-color:#1668d8;
	color:#fff;
	width:136px;
	height:40px;
	margin-top:15px;
	border-radius:3px
}
.user .usermy h2 {
	font-size:16px;
	font-weight:700;
	color:#535353;
	border-bottom:1px solid #e4e4e4;
	padding-bottom:15px;
	margin-top:50px;
	margin-bottom:25px
}
.user .usermy ul {
	overflow:hidden
}
.user .usermy ul li {
	width:100%;
	float:left;
	margin-bottom:20px;
	line-height:20px
}
.user .usermy ul li p {
	font-size:14px;
	color:#2c2c2c;
	float:left;
	width:74px
}
.user .usermy ul li span {
	display:block;
	float:left;
	padding-left:25px;
	min-width:280px
}
.user .usermy ul li img {
	display:block;
	margin-top:-7px;
	cursor:pointer
}
.user .usermy ul li input {
	width:280px;
	border:none;
	height:20px;
	float:left;
	padding-left:25px
}
.user .usermy ul li select {
	float:left;
	width:284px;
	border:none;
	margin-left:21px
}
.user .editPhone section {
	padding:50px 0 400px 0
}
.user .editPhone section label {
	width:95px;
	padding:0;
	margin-right:20px;
	line-height:35px
}
.user .editPhone section .layui-inline {
	width:100%;
	margin-bottom:15px;
	font-size:14px;
	color:#252525
}
.user .editPhone section input {
	width:260px;
	height:35px
}
.user .editPhone section .layui-inline:nth-child(3) input {
	width:163px;
	float:left
}
.user .editPhone section .qrbut {
	height:35px;
	line-height:35px;
	margin-left:7px;
	font-size:14px;
	width:90px;
	padding:0;
	color:#fff;
	background-color:#195edd
}
.user .editPhone section .save {
	width:260px;
	height:36px;
	background-color:#195edd;
	margin:30px 115px;
	font-size:16px;
	letter-spacing:3px
}
.rechargeRecord {
	margin-bottom:50px;
	padding-top:0!important
}
.rechargeRecord table {
	margin-bottom:40px
}
.inform {
	min-height:700px
}
.inform .top {
	margin:20px 15px;
	line-height:20px;
	width:100%;
	overflow:hidden
}
.inform .top h2 {
	font-size:15px;
	font-weight:700;
	float:left
}
.inform .top p {
	float:left;
	font-size:12px;
	color:#4c4c4c;
	padding-left:5px
}
.inform .top em {
	color:#1668d8
}
.inform .top span {
	color:#c90000;
	padding:0 5px
}
.inform ul {
	margin-bottom:40px;
	overflow:hidden
}
.inform ul li {
	width:100%;
	font-size:12px;
	color:#666;
	height:36px;
	line-height:36px;
	border-bottom:1px dashed #c9c9c9;
	padding-left:10px;
	cursor:pointer
}
.inform ul li:last-child {
	border:none
}
.inform ul li p {
	width:460px;
	float:left
}
.inform ul .active p {
	color:#1668d8
}
.inform .header {
	background-color:#f0f0f0;
	height:36px;
	line-height:36px
}
.inform .header p {
	width:470px;
	float:left;
	padding-left:15px;
	color:#666
}
.buyBook {
	background-color:#fff;
	height:530px;
	margin-bottom:40px;
	padding:35px 52px
}
.buyBook ul li {
	width:100%;
	overflow:hidden;
	padding:23px 0;
	border-bottom:1px solid #e4e4e4
}
.buyBook ul li span {
	font-size:20px;
	color:#333;
	display:block;
	float:left;
	padding-right:60px;
	line-height:26px;
	height:26px
}
.buyBook ul li p {
	float:left;
	font-size:18px;
	color:#1668d8;
	line-height:26px;
	height:26px;
	padding-left:10px
}
.buyBook ul li b {
	font-weight:400;
	font-size:18px;
	color:#1668d8;
	float:right;
	line-height:26px;
	height:26px
}
.buyBook ul li:nth-child(2) span {
	line-height:48px;
	height:48px
}
.buyBook ul li:nth-child(2) div {
	width:136px;
	height:48px;
	border:1px solid #666;
	float:left;
	margin-right:60px;
	cursor:pointer
}
.buyBook ul li:nth-child(2) div span {
	font-size:14px;
	color:#666;
	display:block;
	float:left;
	line-height:48px;
	padding-right:0
}
.buyBook ul li i {
	display:block;
	float:left;
	width:26px;
	height:23px;
	margin-right:5px;
	margin-top:12px;
	margin-left:32px
}
.buyBook ul li:nth-child(2) {
	padding:30px 0
}
.buyBook ul li:nth-child(2) .wicon {
	background:url(../img/wx1.png) no-repeat;
	background-size:100% 100%
}
.buyBook ul li:nth-child(2) .zicon {
	background:url(../img/zfb1.png) no-repeat;
	background-size:100% 100%
}
.buyBook ul li:nth-child(2) .active {
	background:url(../img/zfactive.png) no-repeat;
	width:137px;
	height:48px;
	border:none;
	background-size:100% 100%
}
.buyBook ul li:nth-child(2) .active span {
	color:#fff
}
.buyBook ul li:nth-child(2) .active .wicon {
	background:url(../img/wx2.png) no-repeat;
	background-size:100% 100%
}
.buyBook ul li:nth-child(2) .active .zicon {
	background:url(../img/zfb2.png) no-repeat;
	background-size:100% 100%
}
.buyBook ul li:nth-child(3) {
	padding-top:56px;
	border-bottom:none
}
.buyBook ul li:nth-child(3) .qrcode {
	width:148px;
	height:148px;
	background:url(../img/qrk.png) no-repeat;
	background-size:100% 100%;
	padding-top:6px;
	margin-right:38px;
	float:left
}
.buyBook ul li:nth-child(3) .qrcode img {
	width:136px;
	height:136px;
	display:block;
	margin:0 auto
}
.buyBook ul li:nth-child(3) p {
	font-size:18px;
	color:#666;
	float:left;
	padding-top:12px
}
.buyBook ul li:nth-child(3) .bottomImg {
	width:100%;
	float:left;
	margin-left:196px;
	margin-top:-53px
}
.buyBook ul li:nth-child(3) .bottomImg img {
	display:block;
	float:left;
	margin-right:21px
}
.buyBook ul li:nth-child(3) em {
	font-size:14px;
	color:#666;
	width:100%;
	float:left;
	margin-left:196px;
	margin-top:-15px
}
.userVip section ul li {
	width:100%;
	overflow:hidden;
	padding:33px 20px;
	border-bottom:1px solid #e4e4e4
}
.userVip ul li:nth-child(1)>div {
	width:210px;
	height:100px;
	border:1px solid #666;
	border-radius:3px;
	float:left;
	margin-right:60px;
	cursor:pointer
}
.userVip ul li:nth-child(1)>div:last-child {
	margin-right:0
}
.userVip ul li:nth-child(1)>div h1 {
	text-align:center;
	font-size:20px;
	margin-top:25px;
	font-weight:700;
	color:#666
}
.userVip ul li:nth-child(1)>div h1 span {
	font-size:14px;
	color:#666;
	margin-left:5px;
	font-weight:400;
	text-decoration:line-through
}
.userVip ul li:nth-child(1)>div p {
	text-align:center;
	font-size:14px;
	color:#666
}
.userVip ul li:nth-child(1) .active {
	background:url(../img/vipactive.png) no-repeat;
	background-size:100% 100%;
	border:none;
	height:101px
}
.userVip ul li:nth-child(1) .active h1 {
	color:#fff
}
.userVip ul li:nth-child(1) .active p {
	color:#fff
}
.userVip ul li:nth-child(1) .active span {
	color:#fff
}
.userVip ul li:nth-child(2) h2 {
	font-size:16px;
	color:#333;
	font-weight:700;
	margin-bottom:23px
}
.userVip ul li:nth-child(2) h2 span {
	color:#1668d8
}
.userVip ul li:nth-child(2) i {
	display:block;
	float:left;
	width:26px;
	height:23px;
	margin-right:5px;
	margin-top:12px;
	margin-left:32px
}
.userVip ul li:nth-child(2)>div {
	width:136px;
	height:48px;
	border:1px solid #666;
	float:left;
	margin-right:60px;
	cursor:pointer
}
.userVip ul li:nth-child(2) div span {
	font-size:14px;
	color:#666;
	display:block;
	float:left;
	line-height:48px;
	padding-right:0
}
.userVip ul li:nth-child(2) .wicon {
	background:url(../img/wx1.png) no-repeat;
	background-size:100% 100%
}
.userVip ul li:nth-child(2) .zicon {
	background:url(../img/zfb1.png) no-repeat;
	background-size:100% 100%
}
.userVip ul li:nth-child(2) .active {
	background:url(../img/zfactive.png) no-repeat;
	width:137px;
	height:48px;
	border:none;
	background-size:100% 100%
}
.userVip ul li:nth-child(2) .active span {
	color:#fff
}
.userVip ul li:nth-child(2) .active .wicon {
	background:url(../img/wx2.png) no-repeat;
	background-size:100% 100%
}
.userVip ul li:nth-child(2) .active .zicon {
	background:url(../img/zfb2.png) no-repeat;
	background-size:100% 100%
}
.userVip ul li:nth-child(3) {
	border:none;
	padding-bottom:60px
}
.userVip ul li:nth-child(3) p {
	font-size:14px;
	color:#2c2c2c;
	width:100%;
	margin-top:13px;
	margin-bottom:22px
}
.userVip ul li:nth-child(3) .qrcode {
	width:148px;
	height:148px;
	background:url(../img/qrk.png) no-repeat;
	background-size:100% 100%;
	padding-top:6px;
	margin-right:38px;
	float:left
}
.userVip ul li:nth-child(3) .qrcode img {
	width:136px;
	height:136px;
	display:block;
	margin:0 auto
}
.userVip ul li:nth-child(3) .ewm {
	float:left;
	height:148px
}
.userVip ul li:nth-child(3) .ewm p {
	font-size:14px;
	margin-top:6px;
	color:#06c;
	float:left;
	width:200px;
	margin-bottom:5px!important
}
.userVip ul li:nth-child(3) .ewm h3 {
	font-size:40px;
	color:#06c;
	margin-bottom:7px
}
.userVip ul li:nth-child(3) .ewm i {
	font-size:14px;
	width:200px;
	float:left;
	color:#666;
	margin-top:10px
}
.userVip ul li:nth-child(3) .ewm i a {
	color:#06c
}
.buySucceed {
	background-color:#fff;
	height:560px;
	margin-bottom:40px;
	padding:35px 52px
}
.buySucceed img {
	display:block;
	margin:80px auto 23px auto
}
.buySucceed h1 {
	font-size:18px;
	color:#333;
	margin-bottom:45px;
	width:100%;
	text-align:center;
	font-weight:500
}
.buySucceed ul {
	width:330px;
	margin:0 auto
}
.buySucceed ul li {
	font-size:14px;
	color:#333;
	margin-bottom:20px
}
.buySucceed .download {
	width:190px;
	height:50px;
	line-height:50px;
	color:#fff;
	background-color:#195edd;
	margin:44px auto;
	font-size:18px;
	display:block;
	padding:0;
	text-align:center;
	border-radius:2px
}
.drugList .topSearch {
	padding:20px;
	background-color:#fff;
	margin:30px auto 38px auto
}
.drugList .topSearch li {
	width:100%;
	height:auto;
	overflow:hidden;
	font-size:14px;
	color:#000;
	border-bottom:1px solid #eee
}
.drugList .topSearch li:last-child {
	border-bottom:none
}
.drugList .topSearch li p {
	font-weight:700;
	float:left;
	margin-right:20px;
	height:58px;
	line-height:58px
}
.drugList .topSearch li span {
	display:block;
	float:left;
	padding:0 20px;
	cursor:pointer;
	height:58px;
	line-height:58px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.drugList .topSearch li section {
	width:900px;
	overflow:hidden;
	float:left;
	height:58px;
	transition:height .5s
}
.drugList .topSearch li .sectionActive {
	height:auto!important;
	transition:height .5s
}
.drugList .topSearch li .active {
	color:#007ddb
}
.drugList .topSearch li .operation {
	float:right;
	float:left
}
.drugList .topSearch li .operation p {
	font-size:14px;
	font-weight:400;
	cursor:pointer;
	float:left;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.drugList .topSearch li .unfoldActive i {
	transform:rotate(180deg);
	transition:all .5s
}
.drugList .topSearch li .operation i {
	color:#666;
	font-size:14px;
	margin-left:3px;
	display:block;
	float:right;
	transition:all .5s
}
.drugList .topSearch li .operation a {
	float:left;
	font-size:14px;
	width:52px;
	height:26px;
	border:1px solid #ddd;
	text-align:center;
	line-height:26px;
	margin-top:15px;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.drugList .centreSearch {
	margin-bottom:20px;
	overflow:hidden
}
.drugList .centreSearch label {
	width:260px;
	height:33px;
	border:1px solid #999;
	border-radius:15px;
	display:block;
	float:left;
	margin-top:2px
}
.drugList .centreSearch label input {
	font-size:12px;
	color:#000;
	background-color:#f5f5f5;
	height:30px;
	line-height:30px;
	border:none;
	margin-top:1px;
	margin-left:15px
}
.drugList .centreSearch label .search {
	display:block;
	float:right;
	margin-right:15px;
	margin-top:6px;
	cursor:pointer
}
.drugList .centreSearch .right {
	float:right
}
.drugList .centreSearch .right p {
	line-height:36px;
	font-size:14px;
	color:#0c0c0c;
	float:left
}
.drugList .centreSearch .right p span {
	color:#007ddb;
	padding:0 3px
}
.drugList .centreSearch .right .fy {
	background-color:#fff;
	padding:7px 8px;
	overflow:hidden;
	float:right;
	margin-left:10px
}
.drugList .centreSearch .right .fy span {
	display:block;
	float:left
}
.drugList .centreSearch .right .fy span i {
	font-size:12px;
	display:block;
	margin-top:3px;
	margin-left:3.5px
}
.drugList .centreSearch .right .fy span:nth-child(1) {
	width:22px;
	height:22px;
	border:1px solid #ddd;
	cursor:pointer
}
.drugList .centreSearch .right .fy span:nth-child(2) {
	width:50px;
	height:22px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	text-align:center;
	line-height:22px;
	font-size:12px
}
.drugList .centreSearch .right .fy span:nth-child(3) {
	width:22px;
	height:22px;
	border:1px solid #ddd;
	cursor:pointer
}
.drugList .centreSearch .right .fy span b {
	color:#007ddb;
	font-weight:400
}
.drugList .drugListMain {
	overflow:hidden
}
.drugList .drugListMain ul li {
	width:379px;
	height:auto;
	background-color:#fff;
	float:left
}
.drugList .drugListMain ul li {
	margin-right:16px;
	margin-bottom:16px;
	padding:30px
}
.drugList .drugListMain ul li:nth-child(3n+3) {
	margin-right:0
}
.drugList .drugListMain ul li .up {
	border-bottom:1px solid #eee;
	overflow:hidden;
	padding-bottom:15px
}
.drugList .drugListMain ul li .up img {
	display:block;
	float:left;
	border:1px solid #cbcbcb;
	width:90px;
	height:90px;
	margin-right:13px
}
.drugList .drugListMain ul li .up h1 {
	font-size:14px;
	color:#1668d8;
	margin-bottom:12px;
	cursor:pointer
}
.drugList .drugListMain ul li .up p {
	font-size:14px;
	color:#3b3b3b;
	margin-bottom:5px
}
.drugList .drugListMain ul li .down {
	padding-top:20px
}
.drugList .drugListMain ul li .down p {
	width:50%;
	float:left;
	color:#666;
	margin-bottom:5px
}
.drugList .drugListMain ul li .down p:nth-child(2) {
	color:#8b8b8b
}
.drugList .drugListMain ul li .down p span {
	width:85px;
	height:19px;
	line-height:19px;
	text-align:center;
	display:block;
	float:right;
	margin-right:17px;
	font-size:12px;
	background-color:#d6d0c0;
	cursor:pointer
}
.drugList .drugListMain ul li .online span {
	display:none!important
}
.drugList .drugListMain ul li .online p i {
	display:inline
}
.drugList .paging {
	margin:70px
}
.drugList .layui-laypage-count {
	background-color:inherit
}
.drugList .layui-laypage-skip {
	background-color:inherit
}
.drugDetails {
	padding:30px;
	background-color:#fff;
	margin:30px auto;
	min-height:800px
}
#viewDetails {
	background-color:#fff;
	min-height:800px
}
.drugDetails .topDetail {
	overflow:hidden
}
.drugDetails .topDetail>div {
	float:left;
	min-height:470px
}
.drugDetails .topDetail .left {
	width:400px
}
.drugDetails .topDetail .left .maxImg {
	width:350px;
	height:310px;
	overflow:hidden
}
.drugDetails .topDetail .left .maxImg img {
	display:block;
	margin:0 auto;
	width:100%;
	height:100%
}
.drugDetails .topDetail .left p {
	color:#666;
	font-size:12px;
	margin:14px 0
}
.drugDetails .wrap {
	position:relative;
	top:0;
	left:0;
	width:400px;
	height:470px
}
.drugDetails .imgs {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%
}
.drugDetails .main {
	position:relative;
	overflow:hidden;
	padding:4px;
	width:350px;
	height:310px;
	margin:0
}
.drugDetails .main img {
	width:100%;
	height:100%
}
.drugDetails .smaller {
	position:relative;
	overflow:hidden;
	width:400px;
	height:82px;
	margin-top:10px
}
.drugDetails .smaller li {
	position:relative;
	float:left;
	padding:2px;
	width:64px;
	height:64px;
	border:2px solid #fff;
	margin-left:10px;
	padding:3px;
	cursor:pointer
}
.drugDetails .smaller li img {
	width:96%;
	height:96%;
	margin:2%
}
.drugDetails .smaller li:first-child {
	margin-left:0
}
.drugDetails .smaller .current {
	border-color:#0994cf
}
.drugDetails .biger {
	position:absolute;
	overflow:hidden;
	display:none;
	left:350px;
	width:350px;
	height:310px
}
.drugDetails .mask {
	position:absolute;
	display:none;
	left:0;
	top:0;
	width:100px;
	height:100px;
	background:url(../img/mask-bg.png) repeat;
	cursor:crosshair
}
.drugDetails .biger img {
	position:absolute;
	left:0;
	top:0;
	width:200%;
	height:200%
}
.drugDetails .right {
	width:710px
}
.drugDetails .right h1 {
	color:#252525;
	margin-bottom:13px;
	font-size:27px
}
.drugDetails .right p {
	color:#333;
	margin-bottom:14px;
	font-size:14.5px
}
.drugDetails .right hr {
	width:100%;
	margin-top:15px
}
.drugDetails .right p a {
	color:#16cef4;
	font-size:16px;
	margin-left:10px
}
.drugDetails .right p i {
	color:grey;
	font-size:14px;
	margin-left:15px
}
.drugDetails .right button {
	background-color:#306ee2;
	margin-top:15px
}
.drugDetails .drugMain h1 {
	font-size:24px;
	width:100%;
	font-weight:700;
	border-bottom:1px solid #e4e4e4;
	padding-bottom:15px;
	color:#535353
}
.drugDetails .drugMain h1 b {
	color:#1668d8
}
.drugDetails .drugMain li {
	-webkit-filter:blur(5px);
	-moz-filter:blur(5px);
	-ms-filter:blur(5px);
	filter:blur(5px)
}
.drugDetails .drugMain h2 {
	-webkit-filter:blur(5px);
	-moz-filter:blur(5px);
	-ms-filter:blur(5px);
	filter:blur(5px)
}
.drugDetails .drugMain ul {
	margin-top:38px;
	overflow:hidden
}
.drugDetails .drugMain ul li {
	width:40%;
	float:left;
	font-size:15px;
	color:#0093ce;
	margin-bottom:15px
}
.drugDetails .drugMain li p {
	text-align:right;
	width:130px;
	float:left;
	color:#0093ce
}
.drugDetails .drugMain li span {
	color:#666;
	padding-left:18px;
	float:left;
	display:block
}
.drugDetails .drugMain h2 {
	font-size:16px;
	width:100%;
	padding-left:25px
}
.drugDetails .drugMain ol {
	overflow:hidden;
	margin-top:15px;
	width:100%
}
.drugDetails .drugMain ol li {
	width:100%;
	overflow:hidden;
	float:left;
	margin-bottom:15px;
	font-size:15px
}
.drugDetails .drugMain section {
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative
}
.drugDetails .drugMain section .masking {
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,.9);
	position:absolute;
	top:0
}
.drugDetails .drugMain {
	position:relative
}
.drugDetails .drugMain button {
	margin:0 auto;
	display:block;
	background-color:#306ee2;
	height:46px;
	padding:0 20px;
	position:absolute;
	top:170px;
	left:50%;
	margin-left:-90px;
	z-index:99999
}
.drugDetails .drugMain button i {
	margin-left:8px;
	transform:rotate(90deg);
	display:block;
	float:right
}
.drugDetails .drugMain .instructions {
	width:100%;
	float:left;
	font-size:15px;
	margin:15px 0;
	line-height:29px;
	padding-left:25px;
	filter:blur(5px)
}
