html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,
cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	width: 100%;
}
ol,
ul {
	list-style: none;
}

img {
	object-fit: cover;
	display: block;
	border: none;
}

a:link {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

i,
em {
	font-style: normal;
}

.clear {
	clear: both;
}

.clear {
	clear: both;
}

button {
	outline: none !important;
	border: none;
	cursor: pointer;
}

.hide {
	display: none;
}

.centered {
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
	min-height: 800px;
}
.row {
	padding: 0;
	margin: 0;
}

.layui-layer-msg {
	width: 210px;
}

.paging {
	width: 100%;
	text-align: center
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color: #195edd;
}

/* 登录页面 */
.loginPage header img{
	display: block;
	margin: 1.77rem auto 1.77rem auto;
	width:3.06rem,;
	height:1rem;
}
.loginPage form{
	width:5rem;
	margin: 0 auto;
	font-size:16px;
	overflow: hidden;
}
.loginPage form label{
	display: block;
	width:100%;
	height:0.88rem;
	background:rgba(255,255,255,1);
	border:1px solid rgba(204,204,204,1);
	border-radius:1px;
	float: left;
}
.loginPage form label img{
	width:0.27rem;
	height:0.43rem;
	display: block;
	float: left;
	margin-left: 0.22rem;
	margin-top: 0.22rem;
}
.loginPage form label input{
	float: left;
	width: 80%;
	height:0.84rem;
	border: none;
	margin-left: 0.24rem;
	padding: 0;
	font-size: 0.28rem;
}
.loginPage form label:nth-child(2){
	width:2.9rem;
	margin-top: 0.68rem;
}
.loginPage form label:nth-child(2) img{
	width:0.33rem;
	height:0.41rem;
}
.loginPage form label:nth-child(2) input{
	width:1.8rem;
}
.loginPage form .getCode{
	float: left;
	padding: 0;
	width:1.97rem;
	height:0.88rem;
	background:rgba(25,94,221,1);
	border-radius:2px;
	border: none;
	margin-left: 0.13rem;
	margin-top: 0.68rem;
}
.loginPage .submit{
	width:5rem;
	margin: 0.92rem auto;
	display: block;
	height:0.88rem;
	background:rgba(25,94,221,1);
	border-radius:0rem;
	font-size: 0.28rem;
}

.loginPage .register{
	width:0.98rem;
	height:0.42rem;
	text-align: center;
	font-size:0.24rem;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(153,153,153,1);
	line-height:0.42rem;
	margin: 0 auto;
	display: block;
	border-bottom: 2px solid rgba(25,94,221,1);
}
/* 注册 */
.registerPage header img{
	display: block;
	margin: 0.9rem auto;
	width:3.06rem,;
	height:1rem;
}
.registerPage form {
	width:6.95rem;
	margin: 0 auto;
}
.registerPage form label{
	display: block;
	width: 100%;
	text-align: left;
	padding: 0.17rem 0;
}
.registerPage form .layui-form-label{
	display: block;
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.registerPage form .layui-form-item{
	margin-bottom: 5px;
}
.registerPage form .layui-input-block{
	display: block;
	width: 100%;
	margin: 0;
}
.registerPage form .layui-form-label span{
	color: #FE313C !important;
}
.registerPage form input{
	width:100%;
	height:0.7rem;
	background:rgba(255,255,255,1);
	border:1px solid rgba(204,204,204,1);
	border-radius:0rem;
	padding: 0.37rem;
	font-size:0.28rem;
}
.registerPage form .yzm input{
	width:4.5rem;
	float: left;
}
.registerPage form .yzm  button{
	width:2.27rem;
	height:0.77rem;
	padding: 0;
	margin-left: 0.18rem;
	background:rgba(25,94,221,1);
}
.registerPage form .inquiry input{
	color: #666666;
}
.registerPage form .inquiry {
	font-size: 14px;
	color: #666666;
}

.registerPage form .inquiry a {
	color: #42adff;
	margin-left: -10px;
	position: absolute;
	line-height: 18px;
}

.registerPage form .inquiry p {
	float: right;
	font-size: 12px;
}
.registerPage .register{
	width:5rem;
	height:0.88rem;
	background:rgba(25,94,221,1);
	border-radius:0rem;
	display: block;
	margin: 0.94rem auto;
	font-size: 0.28rem;
}

/* 首页 */
.header{
	width:100%;
	height:0.88rem;
	background:rgba(25,94,221,1);
	padding: 0.12rem 0;
	position: fixed;
	top: 0;
	z-index: 99999999999999999;
}
.header a img{
	display: block;
	width:0.61rem;
	height:0.61rem;
	margin-left: 0.27rem;
}
.header p{
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	font-size:0.35rem;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(255,255,255,1);
	line-height:0.88rem;
}
.header .more{
	display: block;
	right:0.3rem;
	top: 0.21rem;
	position: absolute;
	width:0.58rem;
	height:0.38rem;
}
.header section{
	width:100%;
	height:auto;
	position: absolute;
	top: 0.88rem;
	padding: 0.6rem 0;
	display: none;
	z-index: 999999;
	background-color: #fff;
	transition: all 1s;
	padding-bottom: 0;
	box-shadow:0px 3px 1px 0px #f1f1f1 ;
	-webkit-box-shadow:0px 3px 1px 0px #f1f1f1 ;
	-moz-box-shadow:0px 3px 1px 0px #f1f1f1 ;
}
.header section ul li{
	width: 33.3%;
	float: left;
	font-size:0.3rem;
	margin-bottom: 0.89rem;
	text-align: center;
}
.header section ul .active{
	color: #195EDD;
}
.header .openBox{
	display: block;
	transition: all 1s;
}
/* 首页 */
.main{
	width: 100%;
	height: auto;
	margin-top: 0.88rem;
}
.main .titlebg {
    width: 100%;
	font-size:0.3rem;
	height: 0.28rem;
	line-height: 0.28rem;
    color: #535353;
    background: url(../img/h1title.png) no-repeat;
    background-size: 100%;
    text-align: center;
    position: relative;
	cursor: pointer;
	margin-top: 0.31rem;
}
.main .titlebg span{
	color: #195EDD;
}
.main .seeMore{
	width:2.62rem;
	height:0.88rem;
	border:1px solid rgba(51,51,51,1);
	border-radius:0rem;
	margin: 0 auto;
	font-size:0.22rem;
	color:rgba(51,51,51,1);
	line-height:0.88rem;
	margin: 0.35rem auto;
	border-radius: 2px;
	text-align: center;
}
.indexPage  #banner{
	width: 100%;
	height: 4rem !important;;
}
.indexPage  #bannerList{
	width: 100%;
	height: 4rem !important;
}
.indexPage .banner img{
	width: 100%;
	height: 4rem !important;;
}
.indexPage .linkList{
	width: 100%;
	height: 1.67rem;
	background-color: #f1f1f2;
}
.indexPage .linkList {
	overflow: hidden;
	width: 100%;
	height: 1.67rem;
}
.indexPage .linkList li{
	width:1.45rem;
	height:1.27rem;
	margin: 0.17rem 0.21rem 0.27rem 0.21rem;
	float: left;
}
.indexPage .linkList li img{
	width:0.43rem;
	height:0.43rem;
	display: block;
	margin: 0.1rem auto 0.05rem auto;
}
.indexPage .linkList li p{
	font-size:0.22rem;
	color: #ffffff;
	width: 100%;
	text-align: center;
}
.indexPage .linkList li:nth-child(1){
	background:rgba(0,168,253,1);
}
.indexPage .linkList li:nth-child(2){
	background:rgba(0,214,253,1);
}
.indexPage .linkList li:nth-child(3){
	background:rgba(47,134,233,1);
}
.indexPage .linkList li:nth-child(4){
	background:rgba(47,134,233,1);
}
/* 招标采购信息 */
.indexPage .purchase{
	border-bottom: 0.3rem solid #f1f1f2;
}
.indexPage .purchaseTab{
	margin-top: 0.4rem;
	height: 36px;
	border-bottom: 1px solid rgba(241,241,242,1);
}
.indexPage .purchaseTab li{
	font-size:0.27rem;
	color:#999999;
	padding: 0 0.22rem;
}
.indexPage .purchaseTab .layui-this {
	color: #333333;
}
.indexPage .purchaseTab .layui-this:after {
	left: 0.3rem;
    height: 0.7rem;
    width: 47%;
	border-bottom: 2px solid #1668d8;
}
.indexPage .purchaseTab .layui-tab-title {
	border: none;
}
.indexPage .purchaseTab .layui-tab-bar{
	display: none;
}
.purchaseBox {
	padding: 0 0.27rem;
}
.purchaseBox li h1{
	font-size:0.27rem;
	color:rgba(102,102,102,1);
	line-height:0.33rem;
	margin-bottom: 0.18rem;
	margin-top: 0.3rem;
}
.purchaseBox li p{
	font-size:0.23rem;
	color:rgba(142,142,142,1);
	line-height:0.36rem;
	-webkit-line-clamp: 4;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.purchaseBox li time{
	margin-top: 0.14rem;
	overflow: hidden;
	display: block;
}
.purchaseBox li time span{
	width:1.35rem;
	height:0.57rem;
	line-height: 0.57rem;
	background:rgba(255,255,255,1);
	border:1px solid rgba(241,123,51,1);
	border-radius:1rem;
	display: block;
	font-size:0.22rem;
	text-align: center;
	color: #F17B33;
	float: left;
	margin-right: 0.7rem;
}
.purchaseBox li time p{
	float: left;
	height:0.57rem;
	line-height: 0.57rem;
	margin-left: 0.36rem;
	font-size: 0.24rem;
	color: #666666;
}
.purchaseBox li time p:last-child{
	float: right;
}
.purchaseBox li {
	border-bottom: 1px solid rgba(241,241,242,1);
	padding-bottom: 0.22rem;
}
/* 耗材信息 */
.indexPage .consumableBox{
	border-bottom: 0.3rem solid #f1f1f2;
}
.indexPage .boxList{
	overflow: hidden;
}
.indexPage .boxList li{
	padding: 0.79rem 0.4rem 0.5rem 0.4rem;
	overflow: hidden;
	border-bottom: 1px solid rgba(241,241,242,1);
}
.indexPage .boxList .imgBox{
	width:2.51rem;
	height:2.51rem;
	background:rgba(255,255,255,1);
	border-radius:0rem;
	float: left;
}
.indexPage .boxList .imgBox img{
	display: block;
	width: 100%;
	height: 100%;
}
.indexPage .boxList .textBox{
	float: left;
	width: 3.8rem;
	height: 2.51rem;
	margin-left: 0.38rem;
}
.indexPage .boxList .textBox h1{
	height:0.27rem;
	font-size:0.27rem;
	color:rgba(22,104,216,1);
	line-height:0.29rem;
	margin-bottom: 0.51rem;
}
.indexPage .boxList .textBox p{
	font-size:0.24rem;
	color:rgba(63,63,63,1);
	margin-bottom: 0.2rem;
	line-height:0.33rem;
}
/* 设备信息 */
.indexPage .drugBox{
	border-bottom: 0.3rem solid #f1f1f2;
}

/* 药品信息 */
.indexPage .facilityBox{
	border-bottom: 0.3rem solid #f1f1f2;
}
/* 广告 */
.advertisement {
	border-bottom: 0.3rem solid #f1f1f2;
}
.advertisement img{
	display: block;
	width: 100%;
	height: 1.2rem;
}
/* 采购活动 */
.activities {
	border-bottom: 0.3rem solid #f1f1f2;
}
.indexPage .boxList .textBox h2{
	font-size:0.27rem;
	font-weight:bold;
	color:rgba(37,37,37,1);
	line-height:0.32rem;
	margin-bottom: 0.16rem;
}
.indexPage .boxList .textBox h3{
	font-size:0.22rem;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(142,142,142,1);
	line-height:0.36rem;
	-webkit-line-clamp: 5;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.indexPage .boxList span{
	font-size:0.22rem;
	color:rgba(142,142,142,1);
	line-height:0.36rem;
	display: block;
	float: left;
	margin-top: 0.18rem;
	width: 33.3%;
}
.indexPage .boxList span img{
	display: block;
	float: left;
	width:0.3rem;
	margin-right: 0.2rem;
}
.indexPage .boxList .ly {
	margin-left: 0.6rem;
}
.indexPage .boxList .yj {
	width: 19%;
    float: right;
}
.indexPage .boxList .yj img{
	width: 0.4rem;
	margin-top: 0.04rem;
}
/* 政策法规 */
.indexPage .boxList h4{
	width:100%;
	height:0.27rem;
	font-size:0.27rem;
	color:rgba(22,104,216,1);
	line-height:0.32rem;
	margin-bottom: 0.2rem;
}
.indexPage .boxList h5{
	width:100%;
	font-size:0.22rem;
	color:rgba(142,142,142,1);
	line-height:0.36rem;
	-webkit-line-clamp: 4;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.indexPage .policy .boxList li{
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}
/* 底部 */
footer{
	width:100%;
	height:auto;
	background:rgba(51,51,51,1);
	overflow: hidden;
	margin-top: 1rem;
	padding: 0.24rem 0;
}
footer p{
	text-align: center;
	color: #ffffff;
	font-size:0.22rem;
}
footer p:last-child{
	margin-top: 0.12rem;
}
/* 招标采购公告 */
.main .topList{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
	border-bottom: 0.3rem solid #f1f1f2;
	margin: 0;
	font-size:0.27rem;
	color:rgba(102,102,102,1);
	line-height:0.36rem;
	position: fixed;
	top: 0.88rem;
	background-color: #ffffff;
}
.main .topList .layui-this {
	color: #333333;
}
.main .topList .layui-this:after {
	border-bottom: 3px solid #1668d8 !important;
	width: 50%;
    margin-left: 25%;
}
.main .layui-tab-more{
	background-color: #fff;
}
.main .layui-tab{
	margin: 0;
}
.main  .layui-tab-title{
	height: auto;
	border: none;
}
/* 采购活动 */
.purchasePage .boxList .textBox h2{
	font-size:0.27rem;
	font-weight:bold;
	color:rgba(37,37,37,1);
	line-height:0.32rem;
	margin-bottom: 0.16rem;
}
.purchasePage .boxList .textBox h3{
	font-size:0.22rem;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(142,142,142,1);
	line-height:0.36rem;
	-webkit-line-clamp: 5;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.purchasePage .boxList span{
	font-size:0.22rem;
	color:rgba(142,142,142,1);
	line-height:0.36rem;
	display: block;
	float: left;
	margin-top: 0.18rem;
	width: 33.3%;
}
.purchasePage .boxList span img{
	display: block;
	float: left;
	width:0.3rem;
	margin-right: 0.2rem;
}
.purchasePage .boxList .ly {
	margin-left: 0.6rem;
}
.purchasePage .boxList .yj {
	width: 19%;
    float: right;
}
.purchasePage .boxList .yj img{
	width: 0.4rem;
	margin-top: 0.04rem;
}
.purchasePage .boxList li{
	padding: 0.5rem 0.4rem;
	overflow: hidden;
	border-bottom: 1px solid rgba(241,241,242,1);
}
.purchasePage .boxList .imgBox{
	width:2.51rem;
	height:2.51rem;
	background:rgba(255,255,255,1);
	border-radius:0rem;
	float: left;
}
.purchasePage .boxList .imgBox img{
	display: block;
	width: 100%;
	height: 100%;
}
.purchasePage .boxList .textBox{
	float: left;
	width: 3.8rem;
	height: 2.51rem;
	margin-left: 0.38rem;
}
.purchasePage .boxList .textBox h1{
	height:0.27rem;
	font-size:0.27rem;
	color:rgba(22,104,216,1);
	line-height:0.29rem;
	margin-bottom: 0.51rem;
}
.purchasePage .boxList .textBox p{
	font-size:0.24rem;
	color:rgba(63,63,63,1);
	margin-bottom: 0.2rem;
	line-height:0.33rem;
}
.purchasePage .boxList h4{
	width:100%;
	height:0.27rem;
	font-size:0.27rem;
	color:rgba(22,104,216,1);
	line-height:0.32rem;
	margin-bottom: 0.2rem;
}
.purchasePage .boxList h5{
	width:100%;
	font-size:0.22rem;
	color:rgba(142,142,142,1);
	line-height:0.36rem;
	-webkit-line-clamp: 4;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
/* 下载中心 */
.downloadPage .boxList li{
	padding: 0.5rem 0.4rem;
	overflow: hidden;
	border-bottom: 1px solid rgba(241,241,242,1);
}
.downloadPage .boxList h2{
	width:100%;
	height:0.27rem;
	font-size:0.3rem;
	color:#000000;
	line-height:0.32rem;
	margin-bottom: 0.2rem;
}
.downloadPage .boxList time {
    color: #8e8e8e;
    font-size: 0.27rem;
    width: 100%;
    display: block;
    margin-top: 0.35rem;
}
.downloadPage .boxList time a img {
    width: 0.4rem;
    display: block;
	float: right;
	margin-top: -0.1rem;
}
.downloadPage .boxList h2 .dlBox {
    display: block;
    float: right;
    background: url(../../img/xxm.png) no-repeat;
    padding-right: 12px;
    width: 1.4rem;
    background-position-x: 53px;
    cursor: pointer;
}
/* 详情 */
.detailsPage .main{
	padding: 0.28rem;
	overflow: hidden;
}
.detailsPage .main h1{
	font-size:0.34rem;
	font-weight:bold;
	color:rgba(58,56,57,1);
	line-height:0.46rem;
	margin-top: 0.3rem;
	margin-bottom: 0.1rem;
}
.detailsPage .main .spanList{
	overflow: hidden;
	padding-bottom: 0.4rem;
	border-bottom: 1px solid rgba(241,241,242,1);
}
.detailsPage .main .spanList span{
	font-size:0.26rem;
	color:rgba(142,142,142,1);
	line-height:0.36rem;
	display: block;
	float: left;
	margin-top: 0.18rem;
	width: 33.3%;
}
.detailsPage .main .spanList span img{
	display: block;
	float: left;
	width:0.3rem;
	margin-right: 0.2rem;
}
.detailsPage .main .spanList .ly {
	margin-left: 0.6rem;
}
.detailsPage .main .spanList .yj {
	width: 19%;
    float: right;
}
.detailsPage .main .spanList .yj img{
	width: 0.4rem;
	margin-top: 0.04rem;
}
.detailsPage .main .content{
	padding-top: 0.3rem;
	width:100%;
	font-size:0.3rem;
	overflow: hidden;
	line-height:0.44rem;
}
.detailsPage .main .content img{
	width: 100%;
	margin: 0.2rem auto;
}
.downloadBox{
	width:0.99rem;
	height:0.99rem;
	background:rgba(25,94,221,1);
	border-radius:0.99rem;
	position: fixed;
	bottom: 1rem;
	right: 0.3rem;
	font-size:0.24rem;
	color:rgba(255,255,255,1);
	text-align: center;
	padding-top: 0.11rem;
}
/* 个人中心 */
.myPage .myTop{
	position: relative;
}
.myPage .topbg{
	width:100%;
	height:2.59rem;
	background:rgba(25,94,221,1);
	position: absolute;
}
.myPage .myTop section{
	width:6.98rem;
	height:2.97rem;
	background:rgba(255,255,255,1);
	box-shadow:0rem 0rem 1rem 0rem rgba(204, 204, 204, 0.35);
	border-radius:0.2rem;
	top: 0.5rem ;
	left: 50%;
	margin-left: -3.49rem;
	position: absolute;
	padding: 0.45rem;
}
.myPage .myTop section .tx{
	width:1.45rem;
	height:1.45rem;
	border-radius:1.45rem;
	margin-right: 0.47rem;
	float: left;
}
.myPage .myTop section .right{
	float: left;
}
.myPage .myTop section .right p{
	margin-top: 0.12rem;
	font-size: 0.26rem;
	color:rgba(58,58,58,1);
}
.myPage .myTop section .right  span{
	float: right;
	font-size:0.22rem;
	position: absolute;
	right: 0.4rem;
	display: block;
	top: 0.55rem;
	color:rgba(25,94,221,1);
}
.myPage .myTop section .right  span img{
	display: block;
	float: left;
	width:0.3rem;
	height:0.27rem;
	margin-right: 0.05rem;
}
.myPage .linkList{
    top: 4rem;
	position: relative;
}
.myPage .linkList li{
	font-size:0.3rem;
	color:rgba(58,58,58,1);
	line-height:1.2rem;
	padding: 0 0.5rem;
}
.myPage .linkList li span{
	float: right;
}
.myPage .linkList li:active { 
	background-color: #f1f1f1;
} 
.myPage .linkList li img{
	display: block;
	float: left;
	margin-right: 0.16rem;
	margin-top: 0.37rem;
}
.myPage .linkList li:nth-child(1) img{
	width:0.36rem;
	height:0.4rem;
}
.myPage .linkList li:nth-child(2) img{
	width:0.24rem;
	height:0.38rem;
}
.myPage .linkList li:nth-child(3) img{
	width:0.3rem;
	height:0.27rem;
	margin-top: 0.44rem;
}
.myPage .linkList li:nth-child(4) img{
	width:0.28rem;
	height:0.34rem;
	margin-top: 0.39rem;
}
.myPage .linkList li:nth-child(5) img{
	width:0.27rem;
	height:0.32rem;
	margin-top: 0.41rem;
}
.myPage .linkList li:nth-child(6) img{
	width:0.32rem;
	height:0.32rem;
	margin-top: 0.41rem;
}
.myPage .quit{
	width:5rem;
	height:0.88rem;
	background:rgba(204,204,204,1);
	border-radius:0rem;
	margin: 0 auto;
	display: block;
	position: relative;
	top: 4.7rem;
	margin-bottom: 2rem;
	color:rgba(51,51,51,1);
	font-size: 0.3rem;
}
.myPage  #banner{
	width: 100%;
	height: 1.5rem !important;;
}
.myPage  #bannerList{
	width: 100%;
	height: 1.5rem !important;
}
.myPage #bannerList img{
	width: 100%;
	height: 1.5rem !important;;
}
.myPage .myList{
	padding: 0.32rem;
}
.myPage h2{
	overflow: hidden;
	font-size:0.3rem;
	color:rgba(51,51,51,1);
	padding-bottom: 0.2rem;
	border-bottom: 1px solid rgba(204,204,204,1);
}
.myPage .myList li{
	border-bottom: 1px solid rgba(204,204,204,1);
	font-size:0.3rem;
	color:rgba(102,102,102,1);
	overflow: hidden;
	line-height: 1.6rem;
}
.myPage .myList li p{
	float: left;
}
.myPage .myList li span{
	float: right;
}
.myPage .edit{
	width:5rem;
	height:0.88rem;
	background-color: #195edd;
	border-radius:0rem;
	margin: 0 auto;
	display: block;
	margin-top: 1rem;
	margin-bottom: 2rem;
	color:#ffffff;
	font-size: 0.3rem;
}
.myPage form{
	padding: 0.32rem;
	margin-top: 1.5rem;
}
.myPage form .layui-form-label{
	padding: 0;
	line-height: 38px;
	text-align: left;
	font-size:0.3rem;
	color:rgba(102,102,102,1);
}
.myPage form .layui-form-item{
	margin-bottom: 25px;
	font-size:0.28rem;
	color:rgba(102,102,102,1);
}
.myPage form .yzm input{
	width:2.4rem;
	float: left;
}
.myPage form .qrbut{
	width:2.02rem;
	height:38px;
	background:rgba(25,94,221,1);
	border-radius:0rem;
	margin-left: 0.53rem;
}
.myPage form .layui-input-block {
	margin-left: 1.9rem;
}
.myPage .vipList {
	margin-top: 0.52rem;
	overflow: hidden;
    margin-bottom: 0.52rem;
}
.myPage .vipList > div{
	width:2.16rem;
	height:2.17rem;
	background:rgba(255,255,255,1);
	border:1px solid rgba(153,153,153,1);
	border-radius:0.1rem;
	float: left;
	margin-right: 0.19rem;
	padding-top: 0.35rem;;
}
.myPage .vipList > div:last-child{
	margin-right: 0;
}
.myPage .vipList > div h1{
	text-align: center;
	font-size:0.3rem;
	color:rgba(51,51,51,1);
	line-height:0.49rem;
}
.myPage .vipList > div p{
	text-align: center;
	font-size:0.28rem;
	color:#999999;
	line-height:0.49rem;
	text-decoration: line-through;
}
.myPage .vipList > .active{
	background: url(../img/vipactive.png) no-repeat;
    background-size: 100% 100%;
	border: none;
}
.myPage .vipList > .active h1{
	color: #ffffff;
}
.myPage .vipList > .active p{
	color: #ffffff;
}
.myPage .payment form{
	margin: 0;
	padding: 0;
	margin-top: 0.4rem;
}
.myPage .payment form p{
	float: left;
	line-height: 1rem;
}
.myPage .payment form p img{
	display: block;
	float: left;
	width:0.59rem;
	height:0.59rem;
	margin-right: 0.27rem;
	margin-top: 0.22rem;
}
.myPage .payment form > label{
	height: 1rem;
	display: block;
	width: 100%;
}
.myPage .payment form .layui-form-radio{
	float: right;
	margin-top: 0.3rem;
	margin-right: 0;
    padding-right: 0;
}
.myPage .payment form .layui-form-radio>i{
	margin-right: 0;
	font-size: 28px;
}
.myPage .payment .layui-form-radio>i:hover, .layui-form-radioed>i{
	color: #195edd;
}
.myPage .newList li{
	width: 100%;
	padding-top: 0.5rem;
}
.myPage .newList h1{
	font-size:0.3rem;
	font-weight:400;
	color:rgba(51,51,51,1);
	line-height:0.5rem;
}
.myPage .newList .active h1{
	color: #195EDD;
}
.myPage .newList h1 span{
	font-size:0.36rem;
	font-weight:400;
	color:rgba(248,124,15,1);
}
.myPage .newList  p{
	font-size:0.28rem;
	font-weight:400;
	color:rgba(102,102,102,1);
	margin-top: 0.27rem;
	line-height:0.5rem;
}
.myPage .newList  time{
	display: block;
	float: right;
	font-size:0.24rem;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height: 1rem;
}
/* 药品信息 */
.drugListPage .ssBox{
	width:7.5rem;
	height: 1.15rem;
	background:rgba(255,255,255,1);
	padding: 0 0.3rem;
	border-bottom: 0.2rem solid #f1f1f2;
	position: fixed;
}
.drugListPage .ssBox label {
    width:5.16rem;
	height:0.59rem;
    border: 1px solid #999;
    border-radius: 0.5rem;
    display: block;
	float: left;
	margin-top: 0.17rem;
}
.drugListPage .ssBox label input{
	height:0.59rem;
	border: none;
	height: 0.56rem;
	line-height: 0.59rem;
	margin-left: 0.3rem;
	float: left;
	color: #666666;
	font-size:0.22rem;
	background-color: inherit;
}
.drugListPage .ssBox label img{
	float: right;
	margin-right: 0.3rem;
	margin-top: 0.1rem;
}
.drugListPage .ssBox .screen{
	float: right;
	font-size:0.24rem;
	color:rgba(102,102,102,1);
	margin-top: 0.24rem;
}
.drugListPage .ssBox .screen span{
	display: block;
	float: left;
	font-size:0.25rem;
	margin-right: 0.1rem;
}
.drugListPage .ssBox .screen img{
	display: block;
	float: left;
	width:0.25rem;
	height:0.28rem;
	margin-top: 0.04rem;
}
.drugListPage .blackBox{
	padding-top: 1.15rem;
}
.drugListPage .blackBox li{
	padding: 0.4rem 0;
	overflow: hidden;
	margin: 0 0.26rem;
	border-bottom: 1px solid #f1f1f2
}
.drugListPage .blackBox .left{
	width:2.51rem;
	height:2.51rem;
	float: left;
}
.drugListPage .blackBox .left img{
	width: 100%;
}
.drugListPage .blackBox .right{
	width: 4.4rem;
	float: left;
	padding-left: 0.38rem;
}
.drugListPage .blackBox .right h1{
	color: #1668D8;
	font-size:0.26rem;
	width: 100%;
	margin-bottom: 0.26rem;
}
.drugListPage .blackBox .right p{
	color: #3F3F3F;
	font-size: 0.24rem;
	margin-bottom: 0.1rem;
}
.drugListPage .blackBox .right p span{
	color:#F17B33;
}
.maskLayer{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
	top: 0.88rem;
	display: none;
}
.maskLayer section{
	width:5.46rem;
	height:100%;
	right: -5.46rem;
	z-index: 99999;
	background:rgba(255,255,255,1);
	position: absolute;
	box-shadow:-2px 1px 6px 0px #f1f1f1 ;
	-webkit-box-shadow:-2px 1px 6px 0px #f1f1f1 ;
	-moz-box-shadow:-2px 1px 6px 0px #f1f1f1 ;
	padding: 0.35rem 0.39rem;
	transition: all 1s;
}
.maskLayer .hideBox{
	width:4.64rem;
	height:100%;
	left: 0;
	position: absolute;
}
.activeMask{
	display: block;
}
.activeMask section{
	transition: all 1s;
	right: 0rem;
	overflow-y: scroll;
}
.maskLayer section h1{
	width:100%;
	font-size:0.26rem;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(51,51,51,1);
	margin-bottom: 0.4rem;
	float: left;
}
.maskLayer section h1 i{
	display: block;
	float: right;
}
.maskLayer section div{
	margin-bottom: 0.4rem;
	width: 100%;
	overflow: hidden;
}
.maskLayer section ul li div{
	height: auto;
}
.maskLayer section ul li .sectionActive{
	height: 0.8rem;
}
.maskLayer section ul li i{
	transition: all 0.5s;
	margin-top: 0.05rem;
}
.unfoldActive i{
	transform: rotate(180deg);
	transition: all 0.5s;
}
.maskLayer section div  span{
	height:0.73rem;
	padding: 0 0.34rem;
	line-height: 0.73rem;
	height: 0.73rem;
	background:rgba(230,230,230,1);
	border-radius:0rem;
	text-align: center;
	font-size: 0.24rem;
	color: #333333;
	display: block;
	border-radius: 1rem;
	float: left;
	margin-bottom: 0.25rem;
	margin-right: 0.15rem;
}
.maskLayer section div .active{
	background-color: #195EDD;
	color: #fff;
}
.maskLayer section .butList{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 1.2rem;
	background-color: #fff;
	margin: 0;
	padding-top: 0.15rem;
	box-shadow:0px -3px 7px 0px #f1f1f1 ;
	-webkit-box-shadow:0px -3px 7px 0px #f1f1f1 ;
	-moz-box-shadow:0px -3px 7px 0px #f1f1f1 ;
	margin-left: -0.39rem;
    padding-left: 0.39rem;
}
.maskLayer section .butList button{
	float: left;
	width: 2.1rem;
	height:0.88rem;
	background:rgba(255,255,255,1);
	border:1px solid rgba(204,204,204,1);
	border-radius:1rem;
	color: black;
}
.maskLayer section .topList{
	padding-bottom: 1.5rem;
}
.maskLayer section .butList button:last-child{
	background-color: #195EDD;
	color: #fff;
	border: none;
	margin-left: 0.3rem;
}
.drugDetailsPage .swiper-container {
    width: 100%;
    height:6.19rem;
}  
.drugDetailsPage .swiper-container img{
	width: 100%;
}
.drugDetailsPage .topDetails{
	padding: 0.4rem 0.28rem;
}
.drugDetailsPage .topDetails h1{
	width:100%;
	height:0.rem;
	font-size:0.36rem;
	color:rgba(51,51,51,1);
	line-height:0.42rem;
	margin-bottom: 0.24rem;
}
.drugDetailsPage .topDetails p{
	width:100%;
	font-size: 0.3rem;
	margin-bottom: 0.1rem;
	color:rgba(51,51,51,1);
}
.drugDetailsPage .topDetails p span{
	width:1.1rem;
	height:0.36rem;
	border: 1px solid #195EDD;
	font-size:0.22rem;
	color: #195EDD;
	padding: 0.06rem 0.1rem;
}
.drugDetailsPage .wlogin{
	width: 100%;
	height:1rem;
	line-height: 1rem;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size:0.3rem;
	color: #ffffff;
	background-color: #195EDD;
}
.drugDetailsPage .indetail{
    border-top: 0.2rem solid #f1f1f2;
}
.drugDetailsPage .indetail ul{
	padding: 0.2rem 0.28rem;
}
.drugDetailsPage .indetail .titlebg {
    width: 100%;
    font-size: 0.3rem;
    height: 0.28rem;
    line-height: 0.28rem;
    color: #535353;
    background: url(../img/h1title.png) no-repeat;
    background-size: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
	margin-top: 0.31rem;
	margin-bottom: 0.3rem;
}
.drugDetailsPage .indetail ul li{
	width: 100%;
	overflow: hidden;
	margin-bottom: 0.3rem;
}
.drugDetailsPage .indetail ul li p{
	color: #16CEF4;
	float: left;
	font-size: 0.28rem;
}
.drugDetailsPage .indetail ul li span{
	color: #666666;
	float: left;
	font-size: 0.28rem;
}
.drugDetailsPage .indetail .specification{
	padding: 0.2rem 0.28rem;
	font-size: 0.28rem;
	line-height: 0.5rem;
}